/*
 * Camunda Platform REST API
 * OpenApi Spec for Camunda Platform REST API.
 *
 * The version of the OpenAPI document: 7.18.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.camunda.rest.api;

import io.micronaut.core.annotation.Nullable;
import io.micronaut.core.convert.format.Format;
import io.micronaut.http.annotation.*;
import io.micronaut.http.client.annotation.Client;
import org.camunda.rest.model.BatchDto;
import org.camunda.rest.model.BatchStatisticsDto;
import org.camunda.rest.model.CountResultDto;
import org.camunda.rest.model.SuspensionStateDto;
import reactor.core.publisher.Mono;

import javax.annotation.Generated;
import javax.validation.Valid;
import javax.validation.constraints.NotNull;
import java.time.OffsetDateTime;
import java.util.List;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen")
@Client("${openapi-micronaut-client-base-path}")
public interface BatchApi {
    /**
     * Delete
     * Deletes a batch by id, including all related jobs and job definitions. Optionally also deletes the batch history.
     *
     * @param id The id of the batch to be deleted. (required)
     * @param cascade &#x60;true&#x60;, if the historic batch and historic job logs for this batch should also be deleted. (optional)
     */
    @Delete(uri="/batch/{id}")
    @Consumes({"application/json"})
    Mono<Void> deleteBatch(
        @PathVariable(name="id") @NotNull String id, 
        @QueryValue(value="cascade") @Nullable Boolean cascade
    );

    /**
     * Get
     * Retrieves a batch by id, according to the Batch interface in the engine.
     *
     * @param id The id of the batch to be retrieved. (required)
     * @return BatchDto
     */
    @Get(uri="/batch/{id}")
    @Consumes({"application/json"})
    Mono<BatchDto> getBatch(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Get Statistics
     * Queries for batch statistics that fulfill given parameters. Parameters may be the properties of batches, such as the id or type. The size of the result set can be retrieved by using the  [Get Batch Statistics Count](https://docs.camunda.org/manual/7.18/reference/rest/batch/get-statistics-query-count/) method.
     *
     * @param sortBy Sort the results lexicographically by a given criterion. Must be used in conjunction with the sortOrder parameter. (optional)
     * @param sortOrder Sort the results in a given order. Values may be asc for ascending order or desc for descending order. Must be used in conjunction with the sortBy parameter. (optional)
     * @param firstResult Pagination of results. Specifies the index of the first result to return. (optional)
     * @param maxResults Pagination of results. Specifies the maximum number of results to return. Will return less results if there are no more results left. (optional)
     * @param batchId Filter by batch id. (optional)
     * @param type Filter by batch type. See the [User Guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/batch/#creating-a-batch) for more information about batch types. (optional)
     * @param tenantIdIn Filter by a comma-separated list of &#x60;Strings&#x60;. A batch matches if it has one of the given tenant ids. (optional)
     * @param withoutTenantId Only include batches which belong to no tenant. Value can effectively only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional)
     * @param suspended A &#x60;Boolean&#x60; value which indicates whether only active or suspended batches should be included. When the value is set to &#x60;true&#x60;, only suspended batches will be returned and when the value is set to &#x60;false&#x60;, only active batches will be returned. (optional)
     * @param createdBy Only include batches that were started by this user id. (optional)
     * @param startedBefore Only include batches that were started before the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.000+0200&#x60;. (optional)
     * @param startedAfter Only include batches that were started after the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.000+0200&#x60;. (optional)
     * @param withFailures Only include batches having jobs with failures. Value can only be &#x60;true&#x60;. (optional)
     * @param withoutFailures Only include batches having jobs without failures. Value can only be &#x60;true&#x60;. (optional)
     * @return List&lt;BatchStatisticsDto&gt;
     */
    @Get(uri="/batch/statistics")
    @Consumes({"application/json"})
    Mono<List<BatchStatisticsDto>> getBatchStatistics(
        @QueryValue(value="sortBy") @Nullable String sortBy, 
        @QueryValue(value="sortOrder") @Nullable String sortOrder, 
        @QueryValue(value="firstResult") @Nullable Integer firstResult, 
        @QueryValue(value="maxResults") @Nullable Integer maxResults, 
        @QueryValue(value="batchId") @Nullable String batchId, 
        @QueryValue(value="type") @Nullable String type, 
        @QueryValue(value="tenantIdIn") @Nullable String tenantIdIn, 
        @QueryValue(value="withoutTenantId") @Nullable Boolean withoutTenantId, 
        @QueryValue(value="suspended") @Nullable Boolean suspended, 
        @QueryValue(value="createdBy") @Nullable String createdBy, 
        @QueryValue(value="startedBefore") @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime startedBefore, 
        @QueryValue(value="startedAfter") @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime startedAfter, 
        @QueryValue(value="withFailures") @Nullable Boolean withFailures, 
        @QueryValue(value="withoutFailures") @Nullable Boolean withoutFailures
    );

    /**
     * Get Statistics Count
     * Requests the number of batch statistics that fulfill the query criteria. Takes the same filtering parameters as the [Get Batch Statistics](https://docs.camunda.org/manual/7.18/reference/rest/batch/get-statistics-query/) method.
     *
     * @param batchId Filter by batch id. (optional)
     * @param type Filter by batch type. See the [User Guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/batch/#creating-a-batch) for more information about batch types. (optional)
     * @param tenantIdIn Filter by a comma-separated list of &#x60;Strings&#x60;. A batch matches if it has one of the given tenant ids. (optional)
     * @param withoutTenantId Only include batches which belong to no tenant. Value can effectively only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional)
     * @param suspended A &#x60;Boolean&#x60; value which indicates whether only active or suspended batches should be included. When the value is set to &#x60;true&#x60;, only suspended batches will be returned and when the value is set to &#x60;false&#x60;, only active batches will be returned. (optional)
     * @param createdBy Only include batches that were started by this user id. (optional)
     * @param startedBefore Only include batches that were started before the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.000+0200&#x60;. (optional)
     * @param startedAfter Only include batches that were started after the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.000+0200&#x60;. (optional)
     * @param withFailures Only include batches having jobs with failures. Value can only be &#x60;true&#x60;. (optional)
     * @param withoutFailures Only include batches having jobs without failures. Value can only be &#x60;true&#x60;. (optional)
     * @return CountResultDto
     */
    @Get(uri="/batch/statistics/count")
    @Consumes({"application/json"})
    Mono<CountResultDto> getBatchStatisticsCount(
        @QueryValue(value="batchId") @Nullable String batchId, 
        @QueryValue(value="type") @Nullable String type, 
        @QueryValue(value="tenantIdIn") @Nullable String tenantIdIn, 
        @QueryValue(value="withoutTenantId") @Nullable Boolean withoutTenantId, 
        @QueryValue(value="suspended") @Nullable Boolean suspended, 
        @QueryValue(value="createdBy") @Nullable String createdBy, 
        @QueryValue(value="startedBefore") @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime startedBefore, 
        @QueryValue(value="startedAfter") @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime startedAfter, 
        @QueryValue(value="withFailures") @Nullable Boolean withFailures, 
        @QueryValue(value="withoutFailures") @Nullable Boolean withoutFailures
    );

    /**
     * Get List
     * Queries for batches that fulfill given parameters. Parameters may be the properties of batches, such as the id or type. The size of the result set can be retrieved by using the [Get Batch Count](https://docs.camunda.org/manual/7.18/reference/rest/batch/get-query-count/) method.
     *
     * @param sortBy Sort the results lexicographically by a given criterion. Must be used in conjunction with the sortOrder parameter. (optional)
     * @param sortOrder Sort the results in a given order. Values may be asc for ascending order or desc for descending order. Must be used in conjunction with the sortBy parameter. (optional)
     * @param firstResult Pagination of results. Specifies the index of the first result to return. (optional)
     * @param maxResults Pagination of results. Specifies the maximum number of results to return. Will return less results if there are no more results left. (optional)
     * @param batchId Filter by batch id. (optional)
     * @param type Filter by batch type. See the [User Guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/batch/#creating-a-batch) for more information about batch types. (optional)
     * @param tenantIdIn Filter by a comma-separated list of &#x60;Strings&#x60;. A batch matches if it has one of the given tenant ids. (optional)
     * @param withoutTenantId Only include batches which belong to no tenant. Value can effectively only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional)
     * @param suspended A &#x60;Boolean&#x60; value which indicates whether only active or suspended batches should be included. When the value is set to &#x60;true&#x60;, only suspended batches will be returned and when the value is set to &#x60;false&#x60;, only active batches will be returned. (optional)
     * @param createdBy Only include batches that were started by this user id. (optional)
     * @param startedBefore Only include batches that were started before the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.000+0200&#x60;. (optional)
     * @param startedAfter Only include batches that were started after the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.000+0200&#x60;. (optional)
     * @param withFailures Only include batches having jobs with failures. Value can only be &#x60;true&#x60;. (optional)
     * @param withoutFailures Only include batches having jobs without failures. Value can only be &#x60;true&#x60;. (optional)
     * @return List&lt;BatchDto&gt;
     */
    @Get(uri="/batch")
    @Consumes({"application/json"})
    Mono<List<BatchDto>> getBatches(
        @QueryValue(value="sortBy") @Nullable String sortBy, 
        @QueryValue(value="sortOrder") @Nullable String sortOrder, 
        @QueryValue(value="firstResult") @Nullable Integer firstResult, 
        @QueryValue(value="maxResults") @Nullable Integer maxResults, 
        @QueryValue(value="batchId") @Nullable String batchId, 
        @QueryValue(value="type") @Nullable String type, 
        @QueryValue(value="tenantIdIn") @Nullable String tenantIdIn, 
        @QueryValue(value="withoutTenantId") @Nullable Boolean withoutTenantId, 
        @QueryValue(value="suspended") @Nullable Boolean suspended, 
        @QueryValue(value="createdBy") @Nullable String createdBy, 
        @QueryValue(value="startedBefore") @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime startedBefore, 
        @QueryValue(value="startedAfter") @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime startedAfter, 
        @QueryValue(value="withFailures") @Nullable Boolean withFailures, 
        @QueryValue(value="withoutFailures") @Nullable Boolean withoutFailures
    );

    /**
     * Get List Count
     * Requests the number of batches that fulfill the query criteria. Takes the same filtering parameters as the [Get Batches](https://docs.camunda.org/manual/7.18/reference/rest/batch/get-query/) method.
     *
     * @param batchId Filter by batch id. (optional)
     * @param type Filter by batch type. See the [User Guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/batch/#creating-a-batch) for more information about batch types. (optional)
     * @param tenantIdIn Filter by a comma-separated list of &#x60;Strings&#x60;. A batch matches if it has one of the given tenant ids. (optional)
     * @param withoutTenantId Only include batches which belong to no tenant. Value can effectively only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional)
     * @param suspended A &#x60;Boolean&#x60; value which indicates whether only active or suspended batches should be included. When the value is set to &#x60;true&#x60;, only suspended batches will be returned and when the value is set to &#x60;false&#x60;, only active batches will be returned. (optional)
     * @param createdBy Only include batches that were started by this user id. (optional)
     * @param startedBefore Only include batches that were started before the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.000+0200&#x60;. (optional)
     * @param startedAfter Only include batches that were started after the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.000+0200&#x60;. (optional)
     * @param withFailures Only include batches having jobs with failures. Value can only be &#x60;true&#x60;. (optional)
     * @param withoutFailures Only include batches having jobs without failures. Value can only be &#x60;true&#x60;. (optional)
     * @return CountResultDto
     */
    @Get(uri="/batch/count")
    @Consumes({"application/json"})
    Mono<CountResultDto> getBatchesCount(
        @QueryValue(value="batchId") @Nullable String batchId, 
        @QueryValue(value="type") @Nullable String type, 
        @QueryValue(value="tenantIdIn") @Nullable String tenantIdIn, 
        @QueryValue(value="withoutTenantId") @Nullable Boolean withoutTenantId, 
        @QueryValue(value="suspended") @Nullable Boolean suspended, 
        @QueryValue(value="createdBy") @Nullable String createdBy, 
        @QueryValue(value="startedBefore") @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime startedBefore, 
        @QueryValue(value="startedAfter") @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime startedAfter, 
        @QueryValue(value="withFailures") @Nullable Boolean withFailures, 
        @QueryValue(value="withoutFailures") @Nullable Boolean withoutFailures
    );

    /**
     * Activate/Suspend
     * Activates or suspends a batch by id.
     *
     * @param id The id of the batch to activate or suspend. (required)
     * @param suspensionStateDto  (optional)
     */
    @Put(uri="/batch/{id}/suspended")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> updateBatchSuspensionState(
        @PathVariable(name="id") @NotNull String id, 
        @Body @Nullable @Valid SuspensionStateDto suspensionStateDto
    );

}
