/*
 * Camunda Platform REST API
 * OpenApi Spec for Camunda Platform REST API.
 *
 * The version of the OpenAPI document: 7.18.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.camunda.rest.api;

import io.micronaut.core.annotation.Nullable;
import io.micronaut.core.convert.format.Format;
import io.micronaut.http.annotation.*;
import io.micronaut.http.client.annotation.Client;
import org.camunda.rest.model.*;
import reactor.core.publisher.Mono;

import javax.annotation.Generated;
import javax.validation.Valid;
import javax.validation.constraints.NotNull;
import java.io.File;
import java.time.OffsetDateTime;
import java.util.List;
import java.util.Map;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen")
@Client("${openapi-micronaut-client-base-path}")
public interface DecisionDefinitionApi {
    /**
     * Evaluate By Id
     * Evaluates a given decision and returns the result. The input values of the decision have to be supplied in the request body.
     *
     * @param id The id of the decision definition to be evaluated. (required)
     * @param evaluateDecisionDto  (optional)
     * @return List&lt;Map&lt;String, VariableValueDto&gt;&gt;
     */
    @Post(uri="/decision-definition/{id}/evaluate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<List<Map<String, VariableValueDto>>> evaluateDecisionById(
        @PathVariable(name="id") @NotNull String id, 
        @Body @Nullable @Valid EvaluateDecisionDto evaluateDecisionDto
    );

    /**
     * Evaluate By Key
     * Evaluates the latest version of the decision definition which belongs to no tenant. The input values of the decision have to be supplied in the request body.
     *
     * @param key The key of the decision definition (the latest version thereof) to be evaluated. (required)
     * @param evaluateDecisionDto  (optional)
     * @return List&lt;Map&lt;String, VariableValueDto&gt;&gt;
     */
    @Post(uri="/decision-definition/key/{key}/evaluate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<List<Map<String, VariableValueDto>>> evaluateDecisionByKey(
        @PathVariable(name="key") @NotNull String key, 
        @Body @Nullable @Valid EvaluateDecisionDto evaluateDecisionDto
    );

    /**
     * Evaluate By Key And Tenant
     * Evaluates the latest version of the decision definition for tenant. The input values of the decision have to be supplied in the request body.
     *
     * @param key The key of the decision definition (the latest version thereof) to be evaluated. (required)
     * @param tenantId The id of the tenant the decision definition belongs to. (required)
     * @param evaluateDecisionDto  (optional)
     * @return List&lt;Map&lt;String, VariableValueDto&gt;&gt;
     */
    @Post(uri="/decision-definition/key/{key}/tenant-id/{tenant-id}/evaluate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<List<Map<String, VariableValueDto>>> evaluateDecisionByKeyAndTenant(
        @PathVariable(name="key") @NotNull String key, 
        @PathVariable(name="tenant-id") @NotNull String tenantId, 
        @Body @Nullable @Valid EvaluateDecisionDto evaluateDecisionDto
    );

    /**
     * Get Decision Definition By Id
     * Retrieves a decision definition by id, according to the &#x60;DecisionDefinition&#x60; interface in the engine.
     *
     * @param id The id of the decision definition to be retrieved. (required)
     * @return DecisionDefinitionDto
     */
    @Get(uri="/decision-definition/{id}")
    @Consumes({"application/json"})
    Mono<DecisionDefinitionDto> getDecisionDefinitionById(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Get Decision Definition By Key
     * Retrieves the latest version of the decision definition which belongs to no tenant.
     *
     * @param key The key of the decision definition (the latest version thereof) to be retrieved. (required)
     * @return DecisionDefinitionDto
     */
    @Get(uri="/decision-definition/key/{key}")
    @Consumes({"application/json"})
    Mono<DecisionDefinitionDto> getDecisionDefinitionByKey(
        @PathVariable(name="key") @NotNull String key
    );

    /**
     * Get Decision Definition By Key And Tenant Id
     * Retrieves the latest version of the decision definition for tenant
     *
     * @param key The key of the decision definition (the latest version thereof) to be retrieved. (required)
     * @param tenantId The id of the tenant the decision definition belongs to. (required)
     * @return DecisionDefinitionDto
     */
    @Get(uri="/decision-definition/key/{key}/tenant-id/{tenant-id}")
    @Consumes({"application/json"})
    Mono<DecisionDefinitionDto> getDecisionDefinitionByKeyAndTenantId(
        @PathVariable(name="key") @NotNull String key, 
        @PathVariable(name="tenant-id") @NotNull String tenantId
    );

    /**
     * Get Diagram
     * Retrieves the diagram of a decision definition.
     *
     * @param id The id of the process definition. (required)
     * @return File
     */
    @Get(uri="/decision-definition/{id}/diagram")
    @Consumes({"application/octet-stream", "application/json"})
    Mono<File> getDecisionDefinitionDiagram(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Get Diagram By Key
     * Returns the diagram for the latest version of the decision definition which belongs to no tenant
     *
     * @param key The key of the decision definition (the latest version thereof) to be retrieved. (required)
     * @return File
     */
    @Get(uri="/decision-definition/key/{key}/diagram")
    @Consumes({"application/octet-stream", "application/json"})
    Mono<File> getDecisionDefinitionDiagramByKey(
        @PathVariable(name="key") @NotNull String key
    );

    /**
     * Get Diagram By Key And Tenant
     * Returns the XML of the latest version of the decision definition for tenant.
     *
     * @param key The key of the decision definition (the latest version thereof) to be retrieved. (required)
     * @param tenantId The id of the tenant the decision definition belongs to. (required)
     * @return File
     */
    @Get(uri="/decision-definition/key/{key}/tenant-id/{tenant-id}/diagram")
    @Consumes({"application/octet-stream", "application/json"})
    Mono<File> getDecisionDefinitionDiagramByKeyAndTenant(
        @PathVariable(name="key") @NotNull String key, 
        @PathVariable(name="tenant-id") @NotNull String tenantId
    );

    /**
     * Get XML By Id
     * Retrieves the DMN XML of a decision definition.
     *
     * @param id The id of the decision definition. (required)
     * @return DecisionDefinitionDiagramDto
     */
    @Get(uri="/decision-definition/{id}/xml")
    @Consumes({"application/json"})
    Mono<DecisionDefinitionDiagramDto> getDecisionDefinitionDmnXmlById(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Get XML By Key
     * Retrieves the XML for the latest version of the decision definition which belongs to no tenant.
     *
     * @param key The key of the decision definition (the latest version thereof). (required)
     * @return DecisionDefinitionDiagramDto
     */
    @Get(uri="/decision-definition/key/{key}/xml")
    @Consumes({"application/json"})
    Mono<DecisionDefinitionDiagramDto> getDecisionDefinitionDmnXmlByKey(
        @PathVariable(name="key") @NotNull String key
    );

    /**
     * Get XML By Key and Tenant
     * Retrieves the XML of the latest version of the decision definition for tenant
     *
     * @param key The key of the decision definition (the latest version thereof). (required)
     * @param tenantId The id of the tenant the decision definition belongs to. (required)
     * @return DecisionDefinitionDiagramDto
     */
    @Get(uri="/decision-definition/key/{key}/tenant-id/{tenant-id}/xml")
    @Consumes({"application/json"})
    Mono<DecisionDefinitionDiagramDto> getDecisionDefinitionDmnXmlByKeyAndTenant(
        @PathVariable(name="key") @NotNull String key, 
        @PathVariable(name="tenant-id") @NotNull String tenantId
    );

    /**
     * Get List
     * Queries for decision definitions that fulfill given parameters. Parameters may be the properties of decision definitions, such as the name, key or version. The size of the result set can be retrieved by using the [Get Decision Definition Count](https://docs.camunda.org/manual/7.18/reference/rest/decision-definition/get-query-count/) method.
     *
     * @param sortBy Sort the results lexicographically by a given criterion. Must be used in conjunction with the sortOrder parameter. (optional)
     * @param sortOrder Sort the results in a given order. Values may be asc for ascending order or desc for descending order. Must be used in conjunction with the sortBy parameter. (optional)
     * @param firstResult Pagination of results. Specifies the index of the first result to return. (optional)
     * @param maxResults Pagination of results. Specifies the maximum number of results to return. Will return less results if there are no more results left. (optional)
     * @param decisionDefinitionId Filter by decision definition id. (optional)
     * @param decisionDefinitionIdIn Filter by decision definition ids. (optional)
     * @param name Filter by decision definition name. (optional)
     * @param nameLike Filter by decision definition names that the parameter is a substring of. (optional)
     * @param deploymentId Filter by the deployment the id belongs to. (optional)
     * @param deployedAfter Filter by the deploy time of the deployment the decision definition belongs to. Only selects decision definitions that have been deployed after (exclusive) a specific time. (optional)
     * @param deployedAt Filter by the deploy time of the deployment the decision definition belongs to. Only selects decision definitions that have been deployed at a specific time (exact match). (optional)
     * @param key Filter by decision definition key, i.e., the id in the DMN 1.0 XML. Exact match. (optional)
     * @param keyLike Filter by decision definition keys that the parameter is a substring of. (optional)
     * @param category Filter by decision definition category. Exact match. (optional)
     * @param categoryLike Filter by decision definition categories that the parameter is a substring of. (optional)
     * @param version Filter by decision definition version. (optional)
     * @param latestVersion Only include those decision definitions that are latest versions. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional)
     * @param resourceName Filter by the name of the decision definition resource. Exact match. (optional)
     * @param resourceNameLike Filter by names of those decision definition resources that the parameter is a substring of. (optional)
     * @param decisionRequirementsDefinitionId Filter by the id of the decision requirements definition this decision definition belongs to. (optional)
     * @param decisionRequirementsDefinitionKey Filter by the key of the decision requirements definition this decision definition belongs to. (optional)
     * @param withoutDecisionRequirementsDefinition Only include decision definitions which does not belongs to any decision requirements definition. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional)
     * @param tenantIdIn Filter by a comma-separated list of &#x60;Strings&#x60;. A decision definition must have one of the given tenant ids. (optional)
     * @param withoutTenantId Only include decision definitions which belong to no tenant. Value can effectively only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional)
     * @param includeDecisionDefinitionsWithoutTenantId Include decision definitions which belong to no tenant. Can be used in combination with &#x60;tenantIdIn&#x60;. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional)
     * @param versionTag Filter by the version tag. (optional)
     * @param versionTagLike Filter by the version tags of those decision definition resources that the parameter is a substring of. (optional)
     * @return List&lt;DecisionDefinitionDto&gt;
     */
    @Get(uri="/decision-definition")
    @Consumes({"application/json"})
    Mono<List<DecisionDefinitionDto>> getDecisionDefinitions(
        @QueryValue(value="sortBy") @Nullable String sortBy, 
        @QueryValue(value="sortOrder") @Nullable String sortOrder, 
        @QueryValue(value="firstResult") @Nullable Integer firstResult, 
        @QueryValue(value="maxResults") @Nullable Integer maxResults, 
        @QueryValue(value="decisionDefinitionId") @Nullable String decisionDefinitionId, 
        @QueryValue(value="decisionDefinitionIdIn") @Nullable String decisionDefinitionIdIn, 
        @QueryValue(value="name") @Nullable String name, 
        @QueryValue(value="nameLike") @Nullable String nameLike, 
        @QueryValue(value="deploymentId") @Nullable String deploymentId, 
        @QueryValue(value="deployedAfter") @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime deployedAfter, 
        @QueryValue(value="deployedAt") @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime deployedAt, 
        @QueryValue(value="key") @Nullable String key, 
        @QueryValue(value="keyLike") @Nullable String keyLike, 
        @QueryValue(value="category") @Nullable String category, 
        @QueryValue(value="categoryLike") @Nullable String categoryLike, 
        @QueryValue(value="version") @Nullable Integer version, 
        @QueryValue(value="latestVersion") @Nullable Boolean latestVersion, 
        @QueryValue(value="resourceName") @Nullable String resourceName, 
        @QueryValue(value="resourceNameLike") @Nullable String resourceNameLike, 
        @QueryValue(value="decisionRequirementsDefinitionId") @Nullable String decisionRequirementsDefinitionId, 
        @QueryValue(value="decisionRequirementsDefinitionKey") @Nullable String decisionRequirementsDefinitionKey, 
        @QueryValue(value="withoutDecisionRequirementsDefinition") @Nullable Boolean withoutDecisionRequirementsDefinition, 
        @QueryValue(value="tenantIdIn") @Nullable String tenantIdIn, 
        @QueryValue(value="withoutTenantId") @Nullable Boolean withoutTenantId, 
        @QueryValue(value="includeDecisionDefinitionsWithoutTenantId") @Nullable Boolean includeDecisionDefinitionsWithoutTenantId, 
        @QueryValue(value="versionTag") @Nullable String versionTag, 
        @QueryValue(value="versionTagLike") @Nullable String versionTagLike
    );

    /**
     * Get List Count
     * Requests the number of decision definitions that fulfill the query criteria. Takes the same filtering parameters as the [Get Decision Definition](https://docs.camunda.org/manual/7.18/reference/rest/decision-definition/get-query/) method.
     *
     * @param decisionDefinitionId Filter by decision definition id. (optional)
     * @param decisionDefinitionIdIn Filter by decision definition ids. (optional)
     * @param name Filter by decision definition name. (optional)
     * @param nameLike Filter by decision definition names that the parameter is a substring of. (optional)
     * @param deploymentId Filter by the deployment the id belongs to. (optional)
     * @param deployedAfter Filter by the deploy time of the deployment the decision definition belongs to. Only selects decision definitions that have been deployed after (exclusive) a specific time. (optional)
     * @param deployedAt Filter by the deploy time of the deployment the decision definition belongs to. Only selects decision definitions that have been deployed at a specific time (exact match). (optional)
     * @param key Filter by decision definition key, i.e., the id in the DMN 1.0 XML. Exact match. (optional)
     * @param keyLike Filter by decision definition keys that the parameter is a substring of. (optional)
     * @param category Filter by decision definition category. Exact match. (optional)
     * @param categoryLike Filter by decision definition categories that the parameter is a substring of. (optional)
     * @param version Filter by decision definition version. (optional)
     * @param latestVersion Only include those decision definitions that are latest versions. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional)
     * @param resourceName Filter by the name of the decision definition resource. Exact match. (optional)
     * @param resourceNameLike Filter by names of those decision definition resources that the parameter is a substring of. (optional)
     * @param decisionRequirementsDefinitionId Filter by the id of the decision requirements definition this decision definition belongs to. (optional)
     * @param decisionRequirementsDefinitionKey Filter by the key of the decision requirements definition this decision definition belongs to. (optional)
     * @param withoutDecisionRequirementsDefinition Only include decision definitions which does not belongs to any decision requirements definition. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional)
     * @param tenantIdIn Filter by a comma-separated list of &#x60;Strings&#x60;. A decision definition must have one of the given tenant ids. (optional)
     * @param withoutTenantId Only include decision definitions which belong to no tenant. Value can effectively only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional)
     * @param includeDecisionDefinitionsWithoutTenantId Include decision definitions which belong to no tenant. Can be used in combination with &#x60;tenantIdIn&#x60;. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional)
     * @param versionTag Filter by the version tag. (optional)
     * @param versionTagLike Filter by the version tags of those decision definition resources that the parameter is a substring of. (optional)
     * @return CountResultDto
     */
    @Get(uri="/decision-definition/count")
    @Consumes({"application/json"})
    Mono<CountResultDto> getDecisionDefinitionsCount(
        @QueryValue(value="decisionDefinitionId") @Nullable String decisionDefinitionId, 
        @QueryValue(value="decisionDefinitionIdIn") @Nullable String decisionDefinitionIdIn, 
        @QueryValue(value="name") @Nullable String name, 
        @QueryValue(value="nameLike") @Nullable String nameLike, 
        @QueryValue(value="deploymentId") @Nullable String deploymentId, 
        @QueryValue(value="deployedAfter") @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime deployedAfter, 
        @QueryValue(value="deployedAt") @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime deployedAt, 
        @QueryValue(value="key") @Nullable String key, 
        @QueryValue(value="keyLike") @Nullable String keyLike, 
        @QueryValue(value="category") @Nullable String category, 
        @QueryValue(value="categoryLike") @Nullable String categoryLike, 
        @QueryValue(value="version") @Nullable Integer version, 
        @QueryValue(value="latestVersion") @Nullable Boolean latestVersion, 
        @QueryValue(value="resourceName") @Nullable String resourceName, 
        @QueryValue(value="resourceNameLike") @Nullable String resourceNameLike, 
        @QueryValue(value="decisionRequirementsDefinitionId") @Nullable String decisionRequirementsDefinitionId, 
        @QueryValue(value="decisionRequirementsDefinitionKey") @Nullable String decisionRequirementsDefinitionKey, 
        @QueryValue(value="withoutDecisionRequirementsDefinition") @Nullable Boolean withoutDecisionRequirementsDefinition, 
        @QueryValue(value="tenantIdIn") @Nullable String tenantIdIn, 
        @QueryValue(value="withoutTenantId") @Nullable Boolean withoutTenantId, 
        @QueryValue(value="includeDecisionDefinitionsWithoutTenantId") @Nullable Boolean includeDecisionDefinitionsWithoutTenantId, 
        @QueryValue(value="versionTag") @Nullable String versionTag, 
        @QueryValue(value="versionTagLike") @Nullable String versionTagLike
    );

    /**
     * Update History Time to Live
     * Updates history time to live for decision definition. The field is used within [History cleanup](https://docs.camunda.org/manual/7.18/user-guide/process-engine/history/#history-cleanup).
     *
     * @param id The id of the decision definition to change history time to live. (required)
     * @param historyTimeToLiveDto  (optional)
     */
    @Put(uri="/decision-definition/{id}/history-time-to-live")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> updateHistoryTimeToLiveByDecisionDefinitionId(
        @PathVariable(name="id") @NotNull String id, 
        @Body @Nullable @Valid HistoryTimeToLiveDto historyTimeToLiveDto
    );

    /**
     * Update History Time to Live By Key
     * Updates the latest version of the decision definition which belongs to no tenant. The field is used within [History cleanup](https://docs.camunda.org/manual/7.18/user-guide/process-engine/history/#history-cleanup).
     *
     * @param key The key of the decision definitions to change history time to live. (required)
     * @param historyTimeToLiveDto  (optional)
     */
    @Put(uri="/decision-definition/key/{key}/history-time-to-live")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> updateHistoryTimeToLiveByDecisionDefinitionKey(
        @PathVariable(name="key") @NotNull String key, 
        @Body @Nullable @Valid HistoryTimeToLiveDto historyTimeToLiveDto
    );

    /**
     * Update History Time to Live By Key And Tenant
     * Updates the latest version of the decision definition for tenant. The field is used within [History cleanup](https://docs.camunda.org/manual/7.18/user-guide/process-engine/history/#history-cleanup).
     *
     * @param key The key of the decision definitions to change history time to live. (required)
     * @param tenantId The id of the tenant the decision definition belongs to. (required)
     * @param historyTimeToLiveDto  (optional)
     */
    @Put(uri="/decision-definition/key/{key}/tenant-id/{tenant-id}/history-time-to-live")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> updateHistoryTimeToLiveByDecisionDefinitionKeyAndTenant(
        @PathVariable(name="key") @NotNull String key, 
        @PathVariable(name="tenant-id") @NotNull String tenantId, 
        @Body @Nullable @Valid HistoryTimeToLiveDto historyTimeToLiveDto
    );

}
