/*
 * Camunda Platform REST API
 * OpenApi Spec for Camunda Platform REST API.
 *
 * The version of the OpenAPI document: 7.18.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.camunda.rest.api;

import io.micronaut.core.annotation.Nullable;
import io.micronaut.core.convert.format.Format;
import io.micronaut.http.annotation.*;
import io.micronaut.http.client.annotation.Client;
import org.camunda.rest.model.*;
import reactor.core.publisher.Mono;

import javax.annotation.Generated;
import javax.validation.Valid;
import javax.validation.constraints.NotNull;
import java.io.File;
import java.time.OffsetDateTime;
import java.util.List;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen")
@Client("${openapi-micronaut-client-base-path}")
public interface DeploymentApi {
    /**
     * Create
     * Creates a deployment.  **Security Consideration**  Deployments can contain custom code in form of scripts or EL expressions to customize process behavior. This may be abused for remote execution of arbitrary code.
     *
     * @param tenantId The tenant id for the deployment to be created. (optional)
     * @param deploymentSource The source for the deployment to be created. (optional)
     * @param deployChangedOnly A flag indicating whether the process engine should perform duplicate checking on a per-resource basis. If set to true, only those resources that have actually changed are deployed. Checks are made against resources included previous deployments of the same name and only against the latest versions of those resources. If set to true, the option enable-duplicate-filtering is overridden and set to true. (optional, default to false)
     * @param enableDuplicateFiltering A flag indicating whether the process engine should perform duplicate checking for the deployment or not. This allows you to check if a deployment with the same name and the same resouces already exists and if true, not create a new deployment but instead return the existing deployment. The default value is false. (optional, default to false)
     * @param deploymentName The name for the deployment to be created. (optional)
     * @param deploymentActivationTime Sets the date on which the process definitions contained in this deployment will be activated. This means that all process definitions will be deployed as usual, but they will be suspended from the start until the given activation date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.000+0200&#x60;. (optional)
     * @param data The binary data to create the deployment resource. It is possible to have more than one form part with different form part names for the binary data to create a deployment. (optional)
     * @return DeploymentWithDefinitionsDto
     */
    @Post(uri="/deployment/create")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data"})
    Mono<DeploymentWithDefinitionsDto> createDeployment(
        @Nullable String tenantId, 
        @Nullable String deploymentSource, 
        @Nullable Boolean deployChangedOnly, 
        @Nullable Boolean enableDuplicateFiltering, 
        @Nullable String deploymentName, 
        @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime deploymentActivationTime, 
        @Nullable File data
    );

    /**
     * Delete
     * Deletes a deployment by id.
     *
     * @param id The id of the deployment to be deleted. (required)
     * @param cascade &#x60;true&#x60;, if all process instances, historic process instances and jobs for this deployment should be deleted. (optional, default to false)
     * @param skipCustomListeners &#x60;true&#x60;, if only the built-in ExecutionListeners should be notified with the end event. (optional, default to false)
     * @param skipIoMappings &#x60;true&#x60;, if all input/output mappings should not be invoked. (optional, default to false)
     */
    @Delete(uri="/deployment/{id}")
    @Consumes({"application/json"})
    Mono<Void> deleteDeployment(
        @PathVariable(name="id") @NotNull String id, 
        @QueryValue(value="cascade", defaultValue="false") @Nullable Boolean cascade, 
        @QueryValue(value="skipCustomListeners", defaultValue="false") @Nullable Boolean skipCustomListeners, 
        @QueryValue(value="skipIoMappings", defaultValue="false") @Nullable Boolean skipIoMappings
    );

    /**
     * Get
     * Retrieves a deployment by id, according to the &#x60;Deployment&#x60; interface of the engine.
     *
     * @param id The id of the deployment. (required)
     * @return DeploymentDto
     */
    @Get(uri="/deployment/{id}")
    @Consumes({"application/json"})
    Mono<DeploymentDto> getDeployment(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Get Resource
     * Retrieves a deployment resource by resource id for the given deployment.
     *
     * @param id The id of the deployment (required)
     * @param resourceId The id of the deployment resource (required)
     * @return DeploymentResourceDto
     */
    @Get(uri="/deployment/{id}/resources/{resourceId}")
    @Consumes({"application/json"})
    Mono<DeploymentResourceDto> getDeploymentResource(
        @PathVariable(name="id") @NotNull String id, 
        @PathVariable(name="resourceId") @NotNull String resourceId
    );

    /**
     * Get Resource (Binary)
     * Retrieves the binary content of a deployment resource for the given deployment by id.
     *
     * @param id The id of the deployment. (required)
     * @param resourceId The id of the deployment resource. (required)
     * @return File
     */
    @Get(uri="/deployment/{id}/resources/{resourceId}/data")
    @Consumes({"application/octet-stream", "application/json"})
    Mono<File> getDeploymentResourceData(
        @PathVariable(name="id") @NotNull String id, 
        @PathVariable(name="resourceId") @NotNull String resourceId
    );

    /**
     * Get Resources
     * Retrieves all deployment resources of a given deployment.
     *
     * @param id The id of the deployment to retrieve the deployment resources for. (required)
     * @return List&lt;DeploymentResourceDto&gt;
     */
    @Get(uri="/deployment/{id}/resources")
    @Consumes({"application/json"})
    Mono<List<DeploymentResourceDto>> getDeploymentResources(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Get List
     * Queries for deployments that fulfill given parameters. Parameters may be the properties of deployments, such as the id or name or a range of the deployment time. The size of the result set can be retrieved by using the [Get Deployment count](https://docs.camunda.org/manual/7.18/reference/rest/deployment/get-query-count/) method.
     *
     * @param id Filter by deployment id (optional)
     * @param name Filter by the deployment name. Exact match. (optional)
     * @param nameLike Filter by the deployment name that the parameter is a substring of. The parameter can include the wildcard &#x60;%&#x60; to express like-strategy such as: starts with (&#x60;%&#x60;name), ends with (name&#x60;%&#x60;) or contains (&#x60;%&#x60;name&#x60;%&#x60;). (optional)
     * @param source Filter by the deployment source. (optional)
     * @param withoutSource Filter by the deployment source whereby source is equal to &#x60;null&#x60;. (optional, default to false)
     * @param tenantIdIn Filter by a comma-separated list of tenant ids. A deployment must have one of the given tenant ids. (optional)
     * @param withoutTenantId Only include deployments which belong to no tenant. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param includeDeploymentsWithoutTenantId Include deployments which belong to no tenant. Can be used in combination with &#x60;tenantIdIn&#x60;. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param after Restricts to all deployments after the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.000+0200&#x60;. (optional)
     * @param before Restricts to all deployments before the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.000+0200&#x60;. (optional)
     * @param sortBy Sort the results lexicographically by a given criterion. Must be used in conjunction with the sortOrder parameter. (optional)
     * @param sortOrder Sort the results in a given order. Values may be asc for ascending order or desc for descending order. Must be used in conjunction with the sortBy parameter. (optional)
     * @param firstResult Pagination of results. Specifies the index of the first result to return. (optional)
     * @param maxResults Pagination of results. Specifies the maximum number of results to return. Will return less results if there are no more results left. (optional)
     * @return List&lt;DeploymentDto&gt;
     */
    @Get(uri="/deployment")
    @Consumes({"application/json"})
    Mono<List<DeploymentDto>> getDeployments(
        @QueryValue(value="id") @Nullable String id, 
        @QueryValue(value="name") @Nullable String name, 
        @QueryValue(value="nameLike") @Nullable String nameLike, 
        @QueryValue(value="source") @Nullable String source, 
        @QueryValue(value="withoutSource", defaultValue="false") @Nullable Boolean withoutSource, 
        @QueryValue(value="tenantIdIn") @Nullable String tenantIdIn, 
        @QueryValue(value="withoutTenantId", defaultValue="false") @Nullable Boolean withoutTenantId, 
        @QueryValue(value="includeDeploymentsWithoutTenantId", defaultValue="false") @Nullable Boolean includeDeploymentsWithoutTenantId, 
        @QueryValue(value="after") @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime after, 
        @QueryValue(value="before") @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime before, 
        @QueryValue(value="sortBy") @Nullable String sortBy, 
        @QueryValue(value="sortOrder") @Nullable String sortOrder, 
        @QueryValue(value="firstResult") @Nullable Integer firstResult, 
        @QueryValue(value="maxResults") @Nullable Integer maxResults
    );

    /**
     * Get List Count
     * Queries for the number of deployments that fulfill given parameters. Takes the same parameters as the [Get Deployments](https://docs.camunda.org/manual/7.18/reference/rest/deployment/get-query/) method.
     *
     * @param id Filter by deployment id (optional)
     * @param name Filter by the deployment name. Exact match. (optional)
     * @param nameLike Filter by the deployment name that the parameter is a substring of. The parameter can include the wildcard &#x60;%&#x60; to express like-strategy such as: starts with (&#x60;%&#x60;name), ends with (name&#x60;%&#x60;) or contains (&#x60;%&#x60;name&#x60;%&#x60;). (optional)
     * @param source Filter by the deployment source. (optional)
     * @param withoutSource Filter by the deployment source whereby source is equal to &#x60;null&#x60;. (optional, default to false)
     * @param tenantIdIn Filter by a comma-separated list of tenant ids. A deployment must have one of the given tenant ids. (optional)
     * @param withoutTenantId Only include deployments which belong to no tenant. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param includeDeploymentsWithoutTenantId Include deployments which belong to no tenant. Can be used in combination with &#x60;tenantIdIn&#x60;. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param after Restricts to all deployments after the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.000+0200&#x60;. (optional)
     * @param before Restricts to all deployments before the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.000+0200&#x60;. (optional)
     * @return CountResultDto
     */
    @Get(uri="/deployment/count")
    @Consumes({"application/json"})
    Mono<CountResultDto> getDeploymentsCount(
        @QueryValue(value="id") @Nullable String id, 
        @QueryValue(value="name") @Nullable String name, 
        @QueryValue(value="nameLike") @Nullable String nameLike, 
        @QueryValue(value="source") @Nullable String source, 
        @QueryValue(value="withoutSource", defaultValue="false") @Nullable Boolean withoutSource, 
        @QueryValue(value="tenantIdIn") @Nullable String tenantIdIn, 
        @QueryValue(value="withoutTenantId", defaultValue="false") @Nullable Boolean withoutTenantId, 
        @QueryValue(value="includeDeploymentsWithoutTenantId", defaultValue="false") @Nullable Boolean includeDeploymentsWithoutTenantId, 
        @QueryValue(value="after") @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime after, 
        @QueryValue(value="before") @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime before
    );

    /**
     * Get Registered Deployments
     * Queries the registered deployment IDs for the current application.
     *
     * @return List&lt;String&gt;
     */
    @Get(uri="/deployment/registered")
    @Consumes({"application/json"})
    Mono<List<String>> getRegisteredDeployments();

    /**
     * Redeploy
     * Re-deploys an existing deployment.  The deployment resources to re-deploy can be restricted by using the properties &#x60;resourceIds&#x60; or &#x60;resourceNames&#x60;. If no deployment resources to re-deploy are passed then all existing resources of the given deployment are re-deployed.  **Warning**: Deployments can contain custom code in form of scripts or EL expressions to customize process behavior. This may be abused for remote execution of arbitrary code. See the section on [security considerations for custom code](https://docs.camunda.org/manual/7.18/user-guide/process-engine/securing-custom-code/) in the user guide for details.
     *
     * @param id The id of the deployment to re-deploy. (required)
     * @param redeploymentDto  (optional)
     * @return DeploymentWithDefinitionsDto
     */
    @Post(uri="/deployment/{id}/redeploy")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<DeploymentWithDefinitionsDto> redeploy(
        @PathVariable(name="id") @NotNull String id, 
        @Body @Nullable @Valid RedeploymentDto redeploymentDto
    );

}
