/*
 * Camunda Platform REST API
 * OpenApi Spec for Camunda Platform REST API.
 *
 * The version of the OpenAPI document: 7.18.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.camunda.rest.api;

import io.micronaut.core.annotation.Nullable;
import io.micronaut.core.convert.format.Format;
import io.micronaut.http.annotation.Consumes;
import io.micronaut.http.annotation.Post;
import io.micronaut.http.annotation.Produces;
import io.micronaut.http.client.annotation.Client;
import org.camunda.rest.model.DeploymentWithDefinitionsDto;
import reactor.core.publisher.Mono;

import javax.annotation.Generated;
import java.io.File;
import java.time.OffsetDateTime;

@Generated(value = "org.openapitools.codegen.languages.JavaMicronautClientCodegen")
@Client("${openapi-micronaut-client-base-path}")
public interface DeploymentApi {
    /**
     * Create
     * Creates a deployment.  **Security Consideration**  Deployments can contain custom code in form of scripts or EL expressions to customize process behavior. This may be abused for remote execution of arbitrary code.
     *
     * @param tenantId                 The tenant id for the deployment to be created. (optional)
     * @param deploymentSource         The source for the deployment to be created. (optional)
     * @param deployChangedOnly        A flag indicating whether the process engine should perform duplicate checking on a per-resource basis. If set to true, only those resources that have actually changed are deployed. Checks are made against resources included previous deployments of the same name and only against the latest versions of those resources. If set to true, the option enable-duplicate-filtering is overridden and set to true. (optional, default to false)
     * @param enableDuplicateFiltering A flag indicating whether the process engine should perform duplicate checking for the deployment or not. This allows you to check if a deployment with the same name and the same resouces already exists and if true, not create a new deployment but instead return the existing deployment. The default value is false. (optional, default to false)
     * @param deploymentName           The name for the deployment to be created. (optional)
     * @param deploymentActivationTime Sets the date on which the process definitions contained in this deployment will be activated. This means that all process definitions will be deployed as usual, but they will be suspended from the start until the given activation date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.000+0200&#x60;. (optional)
     * @param data                     The binary data to create the deployment resource. It is possible to have more than one form part with different form part names for the binary data to create a deployment. (optional)
     * @return DeploymentWithDefinitionsDto
     */
    @Post(uri = "/deployment/create")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data"})
    Mono<DeploymentWithDefinitionsDto> createDeployment(
            @Nullable String tenantId,
            @Nullable String deploymentSource,
            @Nullable Boolean deployChangedOnly,
            @Nullable Boolean enableDuplicateFiltering,
            @Nullable String deploymentName,
            @Nullable @Format("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX") OffsetDateTime deploymentActivationTime,
            @Nullable File data
    );

}
