/*
 * Camunda Platform REST API
 * OpenApi Spec for Camunda Platform REST API.
 *
 * The version of the OpenAPI document: 7.18.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.camunda.rest.api;

import io.micronaut.core.annotation.Nullable;
import io.micronaut.http.annotation.*;
import io.micronaut.http.client.annotation.Client;
import org.camunda.rest.model.*;
import reactor.core.publisher.Mono;

import javax.annotation.Generated;
import javax.validation.Valid;
import javax.validation.constraints.NotNull;
import java.io.File;
import java.util.List;
import java.util.Map;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen")
@Client("${openapi-micronaut-client-base-path}")
public interface ExecutionApi {
    /**
     * Create Incident
     * Creates a custom incident with given properties.
     *
     * @param id The id of the execution to create a new incident for. (required)
     * @param createIncidentDto  (optional)
     * @return IncidentDto
     */
    @Post(uri="/execution/{id}/create-incident")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<IncidentDto> createIncident(
        @PathVariable(name="id") @NotNull String id, 
        @Body @Nullable @Valid CreateIncidentDto createIncidentDto
    );

    /**
     * Delete Local Execution Variable
     * Deletes a variable in the context of a given execution by id. Deletion does not propagate upwards in the execution hierarchy.
     *
     * @param id The id of the execution to delete the variable from. (required)
     * @param varName The name of the variable to delete. (required)
     */
    @Delete(uri="/execution/{id}/localVariables/{varName}")
    Mono<Void> deleteLocalExecutionVariable(
        @PathVariable(name="id") @NotNull String id, 
        @PathVariable(name="varName") @NotNull String varName
    );

    /**
     * Get Execution
     * Retrieves an execution by id, according to the &#x60;Execution&#x60; interface in the engine.
     *
     * @param id The id of the execution to be retrieved. (required)
     * @return ExecutionDto
     */
    @Get(uri="/execution/{id}")
    @Consumes({"application/json"})
    Mono<ExecutionDto> getExecution(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Get Executions
     * Queries for the executions that fulfill given parameters. Parameters may be static as well as dynamic runtime properties of executions. The size of the result set can be retrieved by using the [Get Execution Count](https://docs.camunda.org/manual/7.18/reference/rest/execution/get-query-count/) method.
     *
     * @param businessKey Filter by the business key of the process instances the executions belong to. (optional)
     * @param processDefinitionId Filter by the process definition the executions run on. (optional)
     * @param processDefinitionKey Filter by the key of the process definition the executions run on. (optional)
     * @param processInstanceId Filter by the id of the process instance the execution belongs to. (optional)
     * @param activityId Filter by the id of the activity the execution currently executes. (optional)
     * @param signalEventSubscriptionName Select only those executions that expect a signal of the given name. (optional)
     * @param messageEventSubscriptionName Select only those executions that expect a message of the given name. (optional)
     * @param active Only include active executions. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional)
     * @param suspended Only include suspended executions. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional)
     * @param incidentId Filter by the incident id. (optional)
     * @param incidentType Filter by the incident type. See the [User Guide](/manual/develop/user-guide/process-engine/incidents/#incident-types) for a list of incident types. (optional)
     * @param incidentMessage Filter by the incident message. Exact match. (optional)
     * @param incidentMessageLike Filter by the incident message that the parameter is a substring of. (optional)
     * @param tenantIdIn Filter by a comma-separated list of tenant ids. An execution must have one of the given tenant ids. (optional)
     * @param variables Only include executions that have variables with certain values. Variable filtering expressions are comma-separated and are structured as follows:  A valid parameter value has the form &#x60;key_operator_value&#x60;. &#x60;key&#x60; is the variable name, &#x60;operator&#x60; is the comparison operator to be used and &#x60;value&#x60; the variable value. **Note:** Values are always treated as &#x60;String&#x60; objects on server side.  Valid operator values are: &#x60;eq&#x60; - equal to; &#x60;neq&#x60; - not equal to; &#x60;gt&#x60; - greater than; &#x60;gteq&#x60; - greater than or equal to; &#x60;lt&#x60; - lower than; &#x60;lteq&#x60; - lower than or equal to; &#x60;like&#x60;. &#x60;key&#x60; and &#x60;value&#x60; may not contain underscore or comma characters. (optional)
     * @param processVariables Only include executions that belong to a process instance with variables with certain values. Variable filtering expressions are comma-separated and are structured as follows:  A valid parameter value has the form &#x60;key_operator_value&#x60;. &#x60;key&#x60; is the variable name, &#x60;operator&#x60; is the comparison operator to be used and &#x60;value&#x60; the variable value. **Note:** Values are always treated as &#x60;String&#x60; objects on server side.  Valid operator values are: &#x60;eq&#x60; - equal to; &#x60;neq&#x60; - not equal to. &#x60;key&#x60; and &#x60;value&#x60; may not contain underscore or comma characters. (optional)
     * @param variableNamesIgnoreCase Match all variable names provided in &#x60;variables&#x60; and &#x60;processVariables&#x60; case- insensitively. If set to &#x60;true&#x60; **variableName** and **variablename** are treated as equal. (optional)
     * @param variableValuesIgnoreCase Match all variable values provided in &#x60;variables&#x60; and &#x60;processVariables&#x60; case- insensitively. If set to &#x60;true&#x60; **variableValue** and **variablevalue** are treated as equal. (optional)
     * @param sortBy Sort the results lexicographically by a given criterion. Must be used in conjunction with the sortOrder parameter. (optional)
     * @param sortOrder Sort the results in a given order. Values may be asc for ascending order or desc for descending order. Must be used in conjunction with the sortBy parameter. (optional)
     * @param firstResult Pagination of results. Specifies the index of the first result to return. (optional)
     * @param maxResults Pagination of results. Specifies the maximum number of results to return. Will return less results if there are no more results left. (optional)
     * @return List&lt;ExecutionDto&gt;
     */
    @Get(uri="/execution")
    @Consumes({"application/json"})
    Mono<List<ExecutionDto>> getExecutions(
        @QueryValue(value="businessKey") @Nullable String businessKey, 
        @QueryValue(value="processDefinitionId") @Nullable String processDefinitionId, 
        @QueryValue(value="processDefinitionKey") @Nullable String processDefinitionKey, 
        @QueryValue(value="processInstanceId") @Nullable String processInstanceId, 
        @QueryValue(value="activityId") @Nullable String activityId, 
        @QueryValue(value="signalEventSubscriptionName") @Nullable String signalEventSubscriptionName, 
        @QueryValue(value="messageEventSubscriptionName") @Nullable String messageEventSubscriptionName, 
        @QueryValue(value="active") @Nullable Boolean active, 
        @QueryValue(value="suspended") @Nullable Boolean suspended, 
        @QueryValue(value="incidentId") @Nullable String incidentId, 
        @QueryValue(value="incidentType") @Nullable String incidentType, 
        @QueryValue(value="incidentMessage") @Nullable String incidentMessage, 
        @QueryValue(value="incidentMessageLike") @Nullable String incidentMessageLike, 
        @QueryValue(value="tenantIdIn") @Nullable String tenantIdIn, 
        @QueryValue(value="variables") @Nullable String variables, 
        @QueryValue(value="processVariables") @Nullable String processVariables, 
        @QueryValue(value="variableNamesIgnoreCase") @Nullable Boolean variableNamesIgnoreCase, 
        @QueryValue(value="variableValuesIgnoreCase") @Nullable Boolean variableValuesIgnoreCase, 
        @QueryValue(value="sortBy") @Nullable String sortBy, 
        @QueryValue(value="sortOrder") @Nullable String sortOrder, 
        @QueryValue(value="firstResult") @Nullable Integer firstResult, 
        @QueryValue(value="maxResults") @Nullable Integer maxResults
    );

    /**
     * Get Execution Count
     * Queries for the number of executions that fulfill given parameters. Takes the same parameters as the [Get Executions](https://docs.camunda.org/manual/7.18/reference/rest/execution/get-query/) method.
     *
     * @param businessKey Filter by the business key of the process instances the executions belong to. (optional)
     * @param processDefinitionId Filter by the process definition the executions run on. (optional)
     * @param processDefinitionKey Filter by the key of the process definition the executions run on. (optional)
     * @param processInstanceId Filter by the id of the process instance the execution belongs to. (optional)
     * @param activityId Filter by the id of the activity the execution currently executes. (optional)
     * @param signalEventSubscriptionName Select only those executions that expect a signal of the given name. (optional)
     * @param messageEventSubscriptionName Select only those executions that expect a message of the given name. (optional)
     * @param active Only include active executions. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional)
     * @param suspended Only include suspended executions. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional)
     * @param incidentId Filter by the incident id. (optional)
     * @param incidentType Filter by the incident type. See the [User Guide](/manual/develop/user-guide/process-engine/incidents/#incident-types) for a list of incident types. (optional)
     * @param incidentMessage Filter by the incident message. Exact match. (optional)
     * @param incidentMessageLike Filter by the incident message that the parameter is a substring of. (optional)
     * @param tenantIdIn Filter by a comma-separated list of tenant ids. An execution must have one of the given tenant ids. (optional)
     * @param variables Only include executions that have variables with certain values. Variable filtering expressions are comma-separated and are structured as follows:  A valid parameter value has the form &#x60;key_operator_value&#x60;. &#x60;key&#x60; is the variable name, &#x60;operator&#x60; is the comparison operator to be used and &#x60;value&#x60; the variable value. **Note:** Values are always treated as &#x60;String&#x60; objects on server side.  Valid operator values are: &#x60;eq&#x60; - equal to; &#x60;neq&#x60; - not equal to; &#x60;gt&#x60; - greater than; &#x60;gteq&#x60; - greater than or equal to; &#x60;lt&#x60; - lower than; &#x60;lteq&#x60; - lower than or equal to; &#x60;like&#x60;. &#x60;key&#x60; and &#x60;value&#x60; may not contain underscore or comma characters. (optional)
     * @param processVariables Only include executions that belong to a process instance with variables with certain values. Variable filtering expressions are comma-separated and are structured as follows:  A valid parameter value has the form &#x60;key_operator_value&#x60;. &#x60;key&#x60; is the variable name, &#x60;operator&#x60; is the comparison operator to be used and &#x60;value&#x60; the variable value. **Note:** Values are always treated as &#x60;String&#x60; objects on server side.  Valid operator values are: &#x60;eq&#x60; - equal to; &#x60;neq&#x60; - not equal to. &#x60;key&#x60; and &#x60;value&#x60; may not contain underscore or comma characters. (optional)
     * @param variableNamesIgnoreCase Match all variable names provided in &#x60;variables&#x60; and &#x60;processVariables&#x60; case- insensitively. If set to &#x60;true&#x60; **variableName** and **variablename** are treated as equal. (optional)
     * @param variableValuesIgnoreCase Match all variable values provided in &#x60;variables&#x60; and &#x60;processVariables&#x60; case- insensitively. If set to &#x60;true&#x60; **variableValue** and **variablevalue** are treated as equal. (optional)
     * @return CountResultDto
     */
    @Get(uri="/execution/count")
    @Consumes({"application/json"})
    Mono<CountResultDto> getExecutionsCount(
        @QueryValue(value="businessKey") @Nullable String businessKey, 
        @QueryValue(value="processDefinitionId") @Nullable String processDefinitionId, 
        @QueryValue(value="processDefinitionKey") @Nullable String processDefinitionKey, 
        @QueryValue(value="processInstanceId") @Nullable String processInstanceId, 
        @QueryValue(value="activityId") @Nullable String activityId, 
        @QueryValue(value="signalEventSubscriptionName") @Nullable String signalEventSubscriptionName, 
        @QueryValue(value="messageEventSubscriptionName") @Nullable String messageEventSubscriptionName, 
        @QueryValue(value="active") @Nullable Boolean active, 
        @QueryValue(value="suspended") @Nullable Boolean suspended, 
        @QueryValue(value="incidentId") @Nullable String incidentId, 
        @QueryValue(value="incidentType") @Nullable String incidentType, 
        @QueryValue(value="incidentMessage") @Nullable String incidentMessage, 
        @QueryValue(value="incidentMessageLike") @Nullable String incidentMessageLike, 
        @QueryValue(value="tenantIdIn") @Nullable String tenantIdIn, 
        @QueryValue(value="variables") @Nullable String variables, 
        @QueryValue(value="processVariables") @Nullable String processVariables, 
        @QueryValue(value="variableNamesIgnoreCase") @Nullable Boolean variableNamesIgnoreCase, 
        @QueryValue(value="variableValuesIgnoreCase") @Nullable Boolean variableValuesIgnoreCase
    );

    /**
     * Get Local Execution Variable
     * Retrieves a variable from the context of a given execution by id. Does not traverse the parent execution hierarchy.
     *
     * @param id The id of the execution to retrieve the variable from. (required)
     * @param varName The name of the variable to get. (required)
     * @param deserializeValue Determines whether serializable variable values (typically variables that store custom Java objects) should be deserialized on server side (default &#x60;true&#x60;).  If set to &#x60;true&#x60;, a serializable variable will be deserialized on server side and transformed to JSON using [Jackson&#39;s](https://github.com/FasterXML/jackson) POJO/bean property introspection feature. Note that this requires the Java classes of the variable value to be on the REST API&#39;s classpath. If set to &#x60;false&#x60;, a serializable variable will be returned in its serialized format. For example, a variable that is serialized as XML will be returned as a JSON string containing XML.  **Note:** While &#x60;true&#x60; is the default value for reasons of backward compatibility, we recommend setting this parameter to &#x60;false&#x60; when developing web applications that are independent of the Java process applications deployed to the engine. (optional)
     * @return VariableValueDto
     */
    @Get(uri="/execution/{id}/localVariables/{varName}")
    @Consumes({"application/json"})
    Mono<VariableValueDto> getLocalExecutionVariable(
        @PathVariable(name="id") @NotNull String id, 
        @PathVariable(name="varName") @NotNull String varName, 
        @QueryValue(value="deserializeValue") @Nullable Boolean deserializeValue
    );

    /**
     * Get Local Execution Variable (Binary)
     * Retrieves a binary variable from the context of a given execution by id. Does not traverse the parent execution hierarchy. Applicable for byte array and file variables.
     *
     * @param id The id of the execution to retrieve the variable from. (required)
     * @param varName The name of the variable to get. (required)
     * @return File
     */
    @Get(uri="/execution/{id}/localVariables/{varName}/data")
    @Consumes({"application/octet-stream", "text/plain", "application/json"})
    Mono<File> getLocalExecutionVariableBinary(
        @PathVariable(name="id") @NotNull String id, 
        @PathVariable(name="varName") @NotNull String varName
    );

    /**
     * Get Local Execution Variables
     * Retrieves all variables of a given execution by id.
     *
     * @param id The id of the execution to retrieve the variables from. (required)
     * @param deserializeValues Determines whether serializable variable values (typically variables that store custom Java objects) should be deserialized on server side (default &#x60;true&#x60;).  If set to &#x60;true&#x60;, a serializable variable will be deserialized on server side and transformed to JSON using [Jackson&#39;s](https://github.com/FasterXML/jackson) POJO/bean property introspection feature. Note that this requires the Java classes of the variable value to be on the REST API&#39;s classpath.  If set to &#x60;false&#x60;, a serializable variable will be returned in its serialized format. For example, a variable that is serialized as XML will be returned as a JSON string containing XML.  **Note:** While &#x60;true&#x60; is the default value for reasons of backward compatibility, we recommend setting this parameter to &#x60;false&#x60; when developing web applications that are independent of the Java process applications deployed to the engine. (optional)
     * @return Map&lt;String, VariableValueDto&gt;
     */
    @Get(uri="/execution/{id}/localVariables")
    @Consumes({"application/json"})
    Mono<Map<String, VariableValueDto>> getLocalExecutionVariables(
        @PathVariable(name="id") @NotNull String id, 
        @QueryValue(value="deserializeValues") @Nullable Boolean deserializeValues
    );

    /**
     * Get Message Event Subscription
     * Retrieves a message event subscription for a given execution by id and a message name.
     *
     * @param id The id of the execution that holds the subscription. (required)
     * @param messageName The name of the message that the subscription corresponds to. (required)
     * @return EventSubscriptionDto
     */
    @Get(uri="/execution/{id}/messageSubscriptions/{messageName}")
    @Consumes({"application/json"})
    Mono<EventSubscriptionDto> getMessageEventSubscription(
        @PathVariable(name="id") @NotNull String id, 
        @PathVariable(name="messageName") @NotNull String messageName
    );

    /**
     * Update/Delete Local Execution Variables
     * Updates or deletes the variables in the context of an execution by id. The updates do not propagate upwards in the execution hierarchy. Updates precede deletions. So, if a variable is updated AND deleted, the deletion overrides the update.
     *
     * @param id The id of the execution to set variables for. (required)
     * @param patchVariablesDto  (optional)
     */
    @Post(uri="/execution/{id}/localVariables")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> modifyLocalExecutionVariables(
        @PathVariable(name="id") @NotNull String id, 
        @Body @Nullable @Valid PatchVariablesDto patchVariablesDto
    );

    /**
     * Put Local Execution Variable
     * Sets a variable in the context of a given execution by id. Update does not propagate upwards in the execution hierarchy.
     *
     * @param id The id of the execution to set the variable for. (required)
     * @param varName The name of the variable to set. (required)
     * @param variableValueDto  (optional)
     */
    @Put(uri="/execution/{id}/localVariables/{varName}")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> putLocalExecutionVariable(
        @PathVariable(name="id") @NotNull String id, 
        @PathVariable(name="varName") @NotNull String varName, 
        @Body @Nullable @Valid VariableValueDto variableValueDto
    );

    /**
     * Get Executions (POST)
     * Queries for executions that fulfill given parameters through a JSON object. This method is slightly more powerful than the [Get Executions](https://docs.camunda.org/manual/7.18/reference/rest/execution/get-query/) method because it allows to filter by multiple instance and execution variables of types &#x60;String&#x60;, &#x60;Number&#x60; or &#x60;Boolean&#x60;.
     *
     * @param firstResult Pagination of results. Specifies the index of the first result to return. (optional)
     * @param maxResults Pagination of results. Specifies the maximum number of results to return. Will return less results if there are no more results left. (optional)
     * @param executionQueryDto  (optional)
     * @return List&lt;ExecutionDto&gt;
     */
    @Post(uri="/execution")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<List<ExecutionDto>> queryExecutions(
        @QueryValue(value="firstResult") @Nullable Integer firstResult, 
        @QueryValue(value="maxResults") @Nullable Integer maxResults, 
        @Body @Nullable @Valid ExecutionQueryDto executionQueryDto
    );

    /**
     * Get Execution Count (POST)
     * Queries for the number of executions that fulfill given parameters. This method takes the same message body as the [Get Executions POST](https://docs.camunda.org/manual/7.18/reference/rest/execution/post-query/) method and therefore it is slightly more powerful than the [Get Execution Count](https://docs.camunda.org/manual/7.18/reference/rest/execution/get-query-count/) method.
     *
     * @param executionQueryDto  (optional)
     * @return CountResultDto
     */
    @Post(uri="/execution/count")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<CountResultDto> queryExecutionsCount(
        @Body @Nullable @Valid ExecutionQueryDto executionQueryDto
    );

    /**
     * Post Local Execution Variable (Binary)
     * Sets the serialized value for a binary variable or the binary value for a file variable in the context of a given execution by id.
     *
     * @param id The id of the execution to set the variable for. (required)
     * @param varName The name of the variable to set. (required)
     * @param data The binary data to be set. For File variables, this multipart can contain the filename, binary value and MIME type of the file variable to be set Only the filename is mandatory. (optional)
     * @param valueType The name of the variable type. Either Bytes for a byte array variable or File for a file variable. (optional)
     */
    @Post(uri="/execution/{id}/localVariables/{varName}/data")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data"})
    Mono<Void> setLocalExecutionVariableBinary(
        @PathVariable(name="id") @NotNull String id, 
        @PathVariable(name="varName") @NotNull String varName, 
        @Nullable File data, 
        @Nullable String valueType
    );

    /**
     * Trigger Execution
     * Signals an execution by id. Can for example be used to explicitly skip user tasks or signal asynchronous continuations.
     *
     * @param id The id of the execution to signal. (required)
     * @param executionTriggerDto  (optional)
     */
    @Post(uri="/execution/{id}/signal")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> signalExecution(
        @PathVariable(name="id") @NotNull String id, 
        @Body @Nullable @Valid ExecutionTriggerDto executionTriggerDto
    );

    /**
     * Trigger Message Event Subscription
     * Delivers a message to a specific execution by id, to trigger an existing message event subscription. Inject process variables as the message&#39;s payload.
     *
     * @param id The id of the execution to submit the message to. (required)
     * @param messageName The name of the message that the addressed subscription corresponds to. (required)
     * @param executionTriggerDto  (optional)
     */
    @Post(uri="/execution/{id}/messageSubscriptions/{messageName}/trigger")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> triggerEvent(
        @PathVariable(name="id") @NotNull String id, 
        @PathVariable(name="messageName") @NotNull String messageName, 
        @Body @Nullable @Valid ExecutionTriggerDto executionTriggerDto
    );

}
