/*
 * Camunda Platform REST API
 * OpenApi Spec for Camunda Platform REST API.
 *
 * The version of the OpenAPI document: 7.18.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.camunda.rest.api;

import io.micronaut.core.annotation.Nullable;
import io.micronaut.http.annotation.Body;
import io.micronaut.http.annotation.Consumes;
import io.micronaut.http.annotation.Post;
import io.micronaut.http.annotation.Produces;
import io.micronaut.http.client.annotation.Client;
import org.camunda.rest.model.BatchDto;
import org.camunda.rest.model.ModificationDto;
import reactor.core.publisher.Mono;

import javax.annotation.Generated;
import javax.validation.Valid;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen")
@Client("${openapi-micronaut-client-base-path}")
public interface ModificationApi {
    /**
     * Execute Modification
     * Executes a modification synchronously for multiple process instances. To modify a single process instance, use the [Modify Process Instance Execution State](https://docs.camunda.org/manual/7.18/reference/rest/process-instance/post-modification/) method. To execute a modification asynchronously, use the [Execute Modification Async (Batch)](https://docs.camunda.org/manual/7.18/reference/rest/modification/post-modification-async/) method.  For more information about the difference between synchronous and asynchronous execution of a modification, please refer to the related section of the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/process-instance-migration.md#executing-a-migration-plan).
     *
     * @param modificationDto  (optional)
     */
    @Post(uri="/modification/execute")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> executeModification(
        @Body @Nullable @Valid ModificationDto modificationDto
    );

    /**
     * Execute Modification Async (Batch)
     * Executes a modification asynchronously for multiple process instances. To execute a modification synchronously, use the [Execute Modification](https://docs.camunda.org/manual/7.18/reference/rest/modification/post-modification-sync/) method.  For more information about the difference between synchronous and asynchronous execution of a modification, please refer to the related section of the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/process-instance-migration.md#executing-a-migration-plan).
     *
     * @param modificationDto  (optional)
     * @return BatchDto
     */
    @Post(uri="/modification/executeAsync")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<BatchDto> executeModificationAsync(
        @Body @Nullable @Valid ModificationDto modificationDto
    );

}
