/*
 * Camunda Platform REST API
 * OpenApi Spec for Camunda Platform REST API.
 *
 * The version of the OpenAPI document: 7.18.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.camunda.rest.api;

import io.micronaut.core.annotation.Nullable;
import io.micronaut.http.annotation.*;
import io.micronaut.http.client.annotation.Client;
import org.camunda.rest.model.*;
import reactor.core.publisher.Mono;

import javax.annotation.Generated;
import javax.validation.Valid;
import javax.validation.constraints.NotNull;
import java.io.File;
import java.util.List;
import java.util.Map;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen")
@Client("${openapi-micronaut-client-base-path}")
public interface TaskApi {
    /**
     * Claim
     * Claims a task for a specific user.  **Note:** The difference with the [Set Assignee](https://docs.camunda.org/manual/7.18/reference/rest/task/post-assignee/) method is that here a check is performed to see if the task already has a user assigned to it.
     *
     * @param id The id of the task to claim. (required)
     * @param userIdDto Provide the id of the user that claims the task. (optional)
     */
    @Post(uri="/task/{id}/claim")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> claim(
        @PathVariable(name="id") @NotNull String id, 
        @Body @Nullable @Valid UserIdDto userIdDto
    );

    /**
     * Complete
     * Completes a task and updates process variables.
     *
     * @param id The id of the task to complete. (required)
     * @param completeTaskDto  (optional)
     * @return Map&lt;String, VariableValueDto&gt;
     */
    @Post(uri="/task/{id}/complete")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Map<String, VariableValueDto>> complete(
        @PathVariable(name="id") @NotNull String id, 
        @Body @Nullable @Valid CompleteTaskDto completeTaskDto
    );

    /**
     * Create
     * Creates a new task.
     *
     * @param taskDto  (optional)
     */
    @Post(uri="/task/create")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> createTask(
        @Body @Nullable @Valid TaskDto taskDto
    );

    /**
     * Delegate
     * Delegates a task to another user.
     *
     * @param id The id of the task to delegate. (required)
     * @param userIdDto Provide the id of the user that the task should be delegated to. (optional)
     */
    @Post(uri="/task/{id}/delegate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> delegateTask(
        @PathVariable(name="id") @NotNull String id, 
        @Body @Nullable @Valid UserIdDto userIdDto
    );

    /**
     * Delete
     * Removes a task by id.
     *
     * @param id The id of the task to be removed. (required)
     */
    @Delete(uri="/task/{id}")
    @Consumes({"application/json"})
    Mono<Void> deleteTask(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Get Deployed Form
     * Retrieves the deployed form that is referenced from a given task. For further information please refer to the [User Guide](https://docs.camunda.org/manual/7.18/user-guide/task-forms/#embedded-task-forms).
     *
     * @param id The id of the task to get the deployed form for. (required)
     * @return File
     */
    @Get(uri="/task/{id}/deployed-form")
    @Consumes({"application/xhtml+xml", "application/json"})
    Mono<File> getDeployedForm(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Get Form Key
     * Retrieves the form key for a task. The form key corresponds to the &#x60;FormData#formKey&#x60; property in the engine. This key can be used to do task-specific form rendering in client applications. Additionally, the context path of the containing process application is returned.
     *
     * @param id The id of the task to retrieve the form for. (required)
     * @return FormDto
     */
    @Get(uri="/task/{id}/form")
    @Consumes({"application/json"})
    Mono<FormDto> getForm(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Get Task Form Variables
     * Retrieves the form variables for a task. The form variables take form data specified on the task into account. If form fields are defined, the variable types and default values of the form fields are taken into account.
     *
     * @param id The id of the task to retrieve the variables for. (required)
     * @param variableNames A comma-separated list of variable names. Allows restricting the list of requested variables to the variable names in the list. It is best practice to restrict the list of variables to the variables actually required by the form in order to minimize fetching of data. If the query parameter is ommitted all variables are fetched. If the query parameter contains non-existent variable names, the variable names are ignored. (optional)
     * @param deserializeValues Determines whether serializable variable values (typically variables that store custom Java objects) should be deserialized on server side (default true).  If set to true, a serializable variable will be deserialized on server side and transformed to JSON using [Jackson&#39;s](http://jackson.codehaus.org/) POJO/bean property introspection feature. Note that this requires the Java classes of the variable value to be on the REST API&#39;s classpath.  If set to false, a serializable variable will be returned in its serialized format. For example, a variable that is serialized as XML will be returned as a JSON string containing XML.  Note: While true is the default value for reasons of backward compatibility, we recommend setting this parameter to false when developing web applications that are independent of the Java process applications deployed to the engine. (optional, default to true)
     * @return Map&lt;String, VariableValueDto&gt;
     */
    @Get(uri="/task/{id}/form-variables")
    @Consumes({"application/json"})
    Mono<Map<String, VariableValueDto>> getFormVariables(
        @PathVariable(name="id") @NotNull String id, 
        @QueryValue(value="variableNames") @Nullable String variableNames, 
        @QueryValue(value="deserializeValues", defaultValue="true") @Nullable Boolean deserializeValues
    );

    /**
     * Get Rendered Form
     * Retrieves the rendered form for a task. This method can be used to get the HTML rendering of a [Generated Task Form](https://docs.camunda.org/manual/7.18/user-guide/task-forms/#generated-task-forms).
     *
     * @param id The id of the task to get the rendered form for. (required)
     * @return File
     */
    @Get(uri="/task/{id}/rendered-form")
    @Consumes({"application/xhtml+xml", "application/json"})
    Mono<File> getRenderedForm(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Get
     * Retrieves a task by id.
     *
     * @param id The id of the task to be retrieved. (required)
     * @return TaskDto
     */
    @Get(uri="/task/{id}")
    @Consumes({"application/json"})
    Mono<TaskDto> getTask(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Get List
     * Queries for tasks that fulfill a given filter. The size of the result set can be retrieved by using the Get Task Count method.  **Security Consideration:** There are several query parameters (such as assigneeExpression) for specifying an EL expression. These are disabled by default to prevent remote code execution. See the section on [security considerations](https://docs.camunda.org/manual/7.18/user-guide/process-engine/securing-custom-code/) for custom code in the user guide for details.
     *
     * @param taskId Restrict to task with the given id. (optional)
     * @param taskIdIn Restrict to tasks with any of the given ids. (optional)
     * @param processInstanceId Restrict to tasks that belong to process instances with the given id. (optional)
     * @param processInstanceIdIn Restrict to tasks that belong to process instances with the given ids. (optional)
     * @param processInstanceBusinessKey Restrict to tasks that belong to process instances with the given business key. (optional)
     * @param processInstanceBusinessKeyExpression Restrict to tasks that belong to process instances with the given business key which  is described by an expression. See the  [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. (optional)
     * @param processInstanceBusinessKeyIn Restrict to tasks that belong to process instances with one of the give business keys.  The keys need to be in a comma-separated list. (optional)
     * @param processInstanceBusinessKeyLike Restrict to tasks that have a process instance business key that has the parameter  value as a substring. (optional)
     * @param processInstanceBusinessKeyLikeExpression Restrict to tasks that have a process instance business key that has the parameter  value as a substring and is described by an expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions)  for more information on available functions. (optional)
     * @param processDefinitionId Restrict to tasks that belong to a process definition with the given id. (optional)
     * @param processDefinitionKey Restrict to tasks that belong to a process definition with the given key. (optional)
     * @param processDefinitionKeyIn Restrict to tasks that belong to a process definition with one of the given keys. The  keys need to be in a comma-separated list. (optional)
     * @param processDefinitionName Restrict to tasks that belong to a process definition with the given name. (optional)
     * @param processDefinitionNameLike Restrict to tasks that have a process definition name that has the parameter value as  a substring. (optional)
     * @param executionId Restrict to tasks that belong to an execution with the given id. (optional)
     * @param caseInstanceId Restrict to tasks that belong to case instances with the given id. (optional)
     * @param caseInstanceBusinessKey Restrict to tasks that belong to case instances with the given business key. (optional)
     * @param caseInstanceBusinessKeyLike Restrict to tasks that have a case instance business key that has the parameter value  as a substring. (optional)
     * @param caseDefinitionId Restrict to tasks that belong to a case definition with the given id. (optional)
     * @param caseDefinitionKey Restrict to tasks that belong to a case definition with the given key. (optional)
     * @param caseDefinitionName Restrict to tasks that belong to a case definition with the given name. (optional)
     * @param caseDefinitionNameLike Restrict to tasks that have a case definition name that has the parameter value as a  substring. (optional)
     * @param caseExecutionId Restrict to tasks that belong to a case execution with the given id. (optional)
     * @param activityInstanceIdIn Only include tasks which belong to one of the passed and comma-separated activity  instance ids. (optional)
     * @param tenantIdIn Only include tasks which belong to one of the passed and comma-separated  tenant ids. (optional)
     * @param withoutTenantId Only include tasks which belong to no tenant. Value may only be &#x60;true&#x60;,  as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param assignee Restrict to tasks that the given user is assigned to. (optional)
     * @param assigneeExpression Restrict to tasks that the user described by the given expression is assigned to.  See the  [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions)  for more information on available functions. (optional)
     * @param assigneeLike Restrict to tasks that have an assignee that has the parameter  value as a substring. (optional)
     * @param assigneeLikeExpression Restrict to tasks that have an assignee that has the parameter value described by the  given expression as a substring. See the  [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions)  for more information on available functions. (optional)
     * @param assigneeIn Only include tasks which are assigned to one of the passed and  comma-separated user ids. (optional)
     * @param assigneeNotIn Only include tasks which are not assigned to one of the passed and comma-separated user ids. (optional)
     * @param owner Restrict to tasks that the given user owns. (optional)
     * @param ownerExpression Restrict to tasks that the user described by the given expression owns. See the  [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions)  for more information on available functions. (optional)
     * @param candidateGroup Only include tasks that are offered to the given group. (optional)
     * @param candidateGroupExpression Only include tasks that are offered to the group described by the given expression.  See the  [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions)  for more information on available functions. (optional)
     * @param candidateUser Only include tasks that are offered to the given user or to one of his groups. (optional)
     * @param candidateUserExpression Only include tasks that are offered to the user described by the given expression.  See the  [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions)  for more information on available functions. (optional)
     * @param includeAssignedTasks Also include tasks that are assigned to users in candidate queries. Default is to only  include tasks that are not assigned to any user if you query by candidate user or group(s). (optional, default to false)
     * @param involvedUser Only include tasks that the given user is involved in. A user is involved in a task if  an identity link exists between task and user (e.g., the user is the assignee). (optional)
     * @param involvedUserExpression Only include tasks that the user described by the given expression is involved in. A user is involved in a task if an identity link exists between task and user (e.g., the user is the assignee). See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. (optional)
     * @param assigned If set to &#x60;true&#x60;, restricts the query to all tasks that are assigned. (optional, default to false)
     * @param unassigned If set to &#x60;true&#x60;, restricts the query to all tasks that are unassigned. (optional, default to false)
     * @param taskDefinitionKey Restrict to tasks that have the given key. (optional)
     * @param taskDefinitionKeyIn Restrict to tasks that have one of the given keys. The keys need to be in a comma-separated list. (optional)
     * @param taskDefinitionKeyLike Restrict to tasks that have a key that has the parameter value as a substring. (optional)
     * @param name Restrict to tasks that have the given name. (optional)
     * @param nameNotEqual Restrict to tasks that do not have the given name. (optional)
     * @param nameLike Restrict to tasks that have a name with the given parameter value as substring. (optional)
     * @param nameNotLike Restrict to tasks that do not have a name with the given parameter value as substring. (optional)
     * @param description Restrict to tasks that have the given description. (optional)
     * @param descriptionLike Restrict to tasks that have a description that has the parameter value as a substring. (optional)
     * @param priority Restrict to tasks that have the given priority. (optional)
     * @param maxPriority Restrict to tasks that have a lower or equal priority. (optional)
     * @param minPriority Restrict to tasks that have a higher or equal priority. (optional)
     * @param dueDate Restrict to tasks that are due on the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.546+0200&#x60;. (optional)
     * @param dueDateExpression Restrict to tasks that are due on the date described by the given expression. See the [User Guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param dueAfter Restrict to tasks that are due after the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.435+0200&#x60;. (optional)
     * @param dueAfterExpression Restrict to tasks that are due after the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param dueBefore Restrict to tasks that are due before the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.243+0200&#x60;. (optional)
     * @param dueBeforeExpression Restrict to tasks that are due before the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param withoutDueDate Only include tasks which have no due date. Value may only be &#x60;true&#x60;,  as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param followUpDate Restrict to tasks that have a followUp date on the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.342+0200&#x60;. (optional)
     * @param followUpDateExpression Restrict to tasks that have a followUp date on the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param followUpAfter Restrict to tasks that have a followUp date after the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.542+0200&#x60;. (optional)
     * @param followUpAfterExpression Restrict to tasks that have a followUp date after the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param followUpBefore Restrict to tasks that have a followUp date before the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.234+0200&#x60;. (optional)
     * @param followUpBeforeExpression Restrict to tasks that have a followUp date before the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param followUpBeforeOrNotExistent Restrict to tasks that have no followUp date or a followUp date before the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.432+0200&#x60;. The typical use case is to query all &#x60;active&#x60; tasks for a user for a given date. (optional)
     * @param followUpBeforeOrNotExistentExpression Restrict to tasks that have no followUp date or a followUp date before the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param createdOn Restrict to tasks that were created on the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.324+0200&#x60;. (optional)
     * @param createdOnExpression Restrict to tasks that were created on the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param createdAfter Restrict to tasks that were created after the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.342+0200&#x60;. (optional)
     * @param createdAfterExpression Restrict to tasks that were created after the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param createdBefore Restrict to tasks that were created before the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.332+0200&#x60;. (optional)
     * @param createdBeforeExpression Restrict to tasks that were created before the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param updatedAfter Restrict to tasks that were updated after the given date. Every action that fires  a [task update event](https://docs.camunda.org/manual/7.18/user-guide/process-engine/delegation-code/#task-listener-event-lifecycle) is considered as updating the task. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.332+0200&#x60;. (optional)
     * @param updatedAfterExpression Restrict to tasks that were updated after the date described by the given expression. Every action that fires  a [task update event](https://docs.camunda.org/manual/7.18/user-guide/process-engine/delegation-code/#task-listener-event-lifecycle) is considered as updating the task. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param delegationState Restrict to tasks that are in the given delegation state. Valid values are &#x60;PENDING&#x60; and &#x60;RESOLVED&#x60;. (optional)
     * @param candidateGroups Restrict to tasks that are offered to any of the given candidate groups. Takes a comma-separated list of group names, so for example &#x60;developers,support,sales&#x60;. (optional)
     * @param candidateGroupsExpression Restrict to tasks that are offered to any of the candidate groups described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to &#x60;java.util.List&#x60; of Strings. (optional)
     * @param withCandidateGroups Only include tasks which have a candidate group. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param withoutCandidateGroups Only include tasks which have no candidate group. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param withCandidateUsers Only include tasks which have a candidate user. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param withoutCandidateUsers Only include tasks which have no candidate users. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param active Only include active tasks. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param suspended Only include suspended tasks. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param taskVariables Only include tasks that have variables with certain values. Variable filtering expressions are comma-separated and are structured as follows:  A valid parameter value has the form &#x60;key_operator_value&#x60;. &#x60;key&#x60; is the variable name, &#x60;operator&#x60; is the comparison operator to be used and &#x60;value&#x60; the variable value.  **Note**: Values are always treated as String objects on server side.  Valid &#x60;operator&#x60; values are: &#x60;eq&#x60; - equal to; &#x60;neq&#x60; - not equal to; &#x60;gt&#x60; - greater than; &#x60;gteq&#x60; - greater than or equal to; &#x60;lt&#x60; - lower than; &#x60;lteq&#x60; - lower than or equal to; &#x60;like&#x60;. &#x60;key&#x60; and &#x60;value&#x60; may not contain underscore or comma characters. (optional)
     * @param processVariables Only include tasks that belong to process instances that have variables with certain  values. Variable filtering expressions are comma-separated and are structured as follows:  A valid parameter value has the form &#x60;key_operator_value&#x60;. &#x60;key&#x60; is the variable name, &#x60;operator&#x60; is the comparison operator to be used and &#x60;value&#x60; the variable value.  **Note**: Values are always treated as String objects on server side.  Valid &#x60;operator&#x60; values are: &#x60;eq&#x60; - equal to; &#x60;neq&#x60; - not equal to; &#x60;gt&#x60; - greater than; &#x60;gteq&#x60; - greater than or equal to; &#x60;lt&#x60; - lower than; &#x60;lteq&#x60; - lower than or equal to; &#x60;like&#x60;; &#x60;notLike&#x60;. &#x60;key&#x60; and &#x60;value&#x60; may not contain underscore or comma characters. (optional)
     * @param caseInstanceVariables Only include tasks that belong to case instances that have variables with certain values. Variable filtering expressions are comma-separated and are structured as follows:  A valid parameter value has the form &#x60;key_operator_value&#x60;. &#x60;key&#x60; is the variable name, &#x60;operator&#x60; is the comparison operator to be used and &#x60;value&#x60; the variable value.  **Note**: Values are always treated as String objects on server side.  Valid &#x60;operator&#x60; values are: &#x60;eq&#x60; - equal to; &#x60;neq&#x60; - not equal to; &#x60;gt&#x60; - greater than; &#x60;gteq&#x60; - greater than or equal to; &#x60;lt&#x60; - lower than; &#x60;lteq&#x60; - lower than or equal to; &#x60;like&#x60;. &#x60;key&#x60; and &#x60;value&#x60; may not contain underscore or comma characters. (optional)
     * @param variableNamesIgnoreCase Match all variable names in this query case-insensitively. If set &#x60;variableName&#x60; and &#x60;variablename&#x60; are treated as equal. (optional, default to false)
     * @param variableValuesIgnoreCase Match all variable values in this query case-insensitively. If set &#x60;variableValue&#x60; and &#x60;variablevalue&#x60; are treated as equal. (optional, default to false)
     * @param parentTaskId Restrict query to all tasks that are sub tasks of the given task. Takes a task id. (optional)
     * @param sortBy Sort the results lexicographically by a given criterion. Must be used in conjunction with the sortOrder parameter. (optional)
     * @param sortOrder Sort the results in a given order. Values may be asc for ascending order or desc for descending order. Must be used in conjunction with the sortBy parameter. (optional)
     * @param firstResult Pagination of results. Specifies the index of the first result to return. (optional)
     * @param maxResults Pagination of results. Specifies the maximum number of results to return. Will return less results if there are no more results left. (optional)
     * @return List&lt;TaskDto&gt;
     */
    @Get(uri="/task")
    @Consumes({"application/json"})
    Mono<List<TaskDto>> getTasks(
        @QueryValue(value="taskId") @Nullable String taskId, 
        @QueryValue(value="taskIdIn") @Nullable String taskIdIn, 
        @QueryValue(value="processInstanceId") @Nullable String processInstanceId, 
        @QueryValue(value="processInstanceIdIn") @Nullable String processInstanceIdIn, 
        @QueryValue(value="processInstanceBusinessKey") @Nullable String processInstanceBusinessKey, 
        @QueryValue(value="processInstanceBusinessKeyExpression") @Nullable String processInstanceBusinessKeyExpression, 
        @QueryValue(value="processInstanceBusinessKeyIn") @Nullable String processInstanceBusinessKeyIn, 
        @QueryValue(value="processInstanceBusinessKeyLike") @Nullable String processInstanceBusinessKeyLike, 
        @QueryValue(value="processInstanceBusinessKeyLikeExpression") @Nullable String processInstanceBusinessKeyLikeExpression, 
        @QueryValue(value="processDefinitionId") @Nullable String processDefinitionId, 
        @QueryValue(value="processDefinitionKey") @Nullable String processDefinitionKey, 
        @QueryValue(value="processDefinitionKeyIn") @Nullable String processDefinitionKeyIn, 
        @QueryValue(value="processDefinitionName") @Nullable String processDefinitionName, 
        @QueryValue(value="processDefinitionNameLike") @Nullable String processDefinitionNameLike, 
        @QueryValue(value="executionId") @Nullable String executionId, 
        @QueryValue(value="caseInstanceId") @Nullable String caseInstanceId, 
        @QueryValue(value="caseInstanceBusinessKey") @Nullable String caseInstanceBusinessKey, 
        @QueryValue(value="caseInstanceBusinessKeyLike") @Nullable String caseInstanceBusinessKeyLike, 
        @QueryValue(value="caseDefinitionId") @Nullable String caseDefinitionId, 
        @QueryValue(value="caseDefinitionKey") @Nullable String caseDefinitionKey, 
        @QueryValue(value="caseDefinitionName") @Nullable String caseDefinitionName, 
        @QueryValue(value="caseDefinitionNameLike") @Nullable String caseDefinitionNameLike, 
        @QueryValue(value="caseExecutionId") @Nullable String caseExecutionId, 
        @QueryValue(value="activityInstanceIdIn") @Nullable String activityInstanceIdIn, 
        @QueryValue(value="tenantIdIn") @Nullable String tenantIdIn, 
        @QueryValue(value="withoutTenantId", defaultValue="false") @Nullable Boolean withoutTenantId, 
        @QueryValue(value="assignee") @Nullable String assignee, 
        @QueryValue(value="assigneeExpression") @Nullable String assigneeExpression, 
        @QueryValue(value="assigneeLike") @Nullable String assigneeLike, 
        @QueryValue(value="assigneeLikeExpression") @Nullable String assigneeLikeExpression, 
        @QueryValue(value="assigneeIn") @Nullable String assigneeIn, 
        @QueryValue(value="assigneeNotIn") @Nullable String assigneeNotIn, 
        @QueryValue(value="owner") @Nullable String owner, 
        @QueryValue(value="ownerExpression") @Nullable String ownerExpression, 
        @QueryValue(value="candidateGroup") @Nullable String candidateGroup, 
        @QueryValue(value="candidateGroupExpression") @Nullable String candidateGroupExpression, 
        @QueryValue(value="candidateUser") @Nullable String candidateUser, 
        @QueryValue(value="candidateUserExpression") @Nullable String candidateUserExpression, 
        @QueryValue(value="includeAssignedTasks", defaultValue="false") @Nullable Boolean includeAssignedTasks, 
        @QueryValue(value="involvedUser") @Nullable String involvedUser, 
        @QueryValue(value="involvedUserExpression") @Nullable String involvedUserExpression, 
        @QueryValue(value="assigned", defaultValue="false") @Nullable Boolean assigned, 
        @QueryValue(value="unassigned", defaultValue="false") @Nullable Boolean unassigned, 
        @QueryValue(value="taskDefinitionKey") @Nullable String taskDefinitionKey, 
        @QueryValue(value="taskDefinitionKeyIn") @Nullable String taskDefinitionKeyIn, 
        @QueryValue(value="taskDefinitionKeyLike") @Nullable String taskDefinitionKeyLike, 
        @QueryValue(value="name") @Nullable String name, 
        @QueryValue(value="nameNotEqual") @Nullable String nameNotEqual, 
        @QueryValue(value="nameLike") @Nullable String nameLike, 
        @QueryValue(value="nameNotLike") @Nullable String nameNotLike, 
        @QueryValue(value="description") @Nullable String description, 
        @QueryValue(value="descriptionLike") @Nullable String descriptionLike, 
        @QueryValue(value="priority") @Nullable Integer priority, 
        @QueryValue(value="maxPriority") @Nullable Integer maxPriority, 
        @QueryValue(value="minPriority") @Nullable Integer minPriority, 
        @QueryValue(value="dueDate") @Nullable String dueDate, 
        @QueryValue(value="dueDateExpression") @Nullable String dueDateExpression, 
        @QueryValue(value="dueAfter") @Nullable String dueAfter, 
        @QueryValue(value="dueAfterExpression") @Nullable String dueAfterExpression, 
        @QueryValue(value="dueBefore") @Nullable String dueBefore, 
        @QueryValue(value="dueBeforeExpression") @Nullable String dueBeforeExpression, 
        @QueryValue(value="withoutDueDate", defaultValue="false") @Nullable Boolean withoutDueDate, 
        @QueryValue(value="followUpDate") @Nullable String followUpDate, 
        @QueryValue(value="followUpDateExpression") @Nullable String followUpDateExpression, 
        @QueryValue(value="followUpAfter") @Nullable String followUpAfter, 
        @QueryValue(value="followUpAfterExpression") @Nullable String followUpAfterExpression, 
        @QueryValue(value="followUpBefore") @Nullable String followUpBefore, 
        @QueryValue(value="followUpBeforeExpression") @Nullable String followUpBeforeExpression, 
        @QueryValue(value="followUpBeforeOrNotExistent") @Nullable String followUpBeforeOrNotExistent, 
        @QueryValue(value="followUpBeforeOrNotExistentExpression") @Nullable String followUpBeforeOrNotExistentExpression, 
        @QueryValue(value="createdOn") @Nullable String createdOn, 
        @QueryValue(value="createdOnExpression") @Nullable String createdOnExpression, 
        @QueryValue(value="createdAfter") @Nullable String createdAfter, 
        @QueryValue(value="createdAfterExpression") @Nullable String createdAfterExpression, 
        @QueryValue(value="createdBefore") @Nullable String createdBefore, 
        @QueryValue(value="createdBeforeExpression") @Nullable String createdBeforeExpression, 
        @QueryValue(value="updatedAfter") @Nullable String updatedAfter, 
        @QueryValue(value="updatedAfterExpression") @Nullable String updatedAfterExpression, 
        @QueryValue(value="delegationState") @Nullable String delegationState, 
        @QueryValue(value="candidateGroups") @Nullable String candidateGroups, 
        @QueryValue(value="candidateGroupsExpression") @Nullable String candidateGroupsExpression, 
        @QueryValue(value="withCandidateGroups", defaultValue="false") @Nullable Boolean withCandidateGroups, 
        @QueryValue(value="withoutCandidateGroups", defaultValue="false") @Nullable Boolean withoutCandidateGroups, 
        @QueryValue(value="withCandidateUsers", defaultValue="false") @Nullable Boolean withCandidateUsers, 
        @QueryValue(value="withoutCandidateUsers", defaultValue="false") @Nullable Boolean withoutCandidateUsers, 
        @QueryValue(value="active", defaultValue="false") @Nullable Boolean active, 
        @QueryValue(value="suspended", defaultValue="false") @Nullable Boolean suspended, 
        @QueryValue(value="taskVariables") @Nullable String taskVariables, 
        @QueryValue(value="processVariables") @Nullable String processVariables, 
        @QueryValue(value="caseInstanceVariables") @Nullable String caseInstanceVariables, 
        @QueryValue(value="variableNamesIgnoreCase", defaultValue="false") @Nullable Boolean variableNamesIgnoreCase, 
        @QueryValue(value="variableValuesIgnoreCase", defaultValue="false") @Nullable Boolean variableValuesIgnoreCase, 
        @QueryValue(value="parentTaskId") @Nullable String parentTaskId, 
        @QueryValue(value="sortBy") @Nullable String sortBy, 
        @QueryValue(value="sortOrder") @Nullable String sortOrder, 
        @QueryValue(value="firstResult") @Nullable Integer firstResult, 
        @QueryValue(value="maxResults") @Nullable Integer maxResults
    );

    /**
     * Get List Count
     * Retrieves the number of tasks that fulfill a provided filter. Corresponds to the size of the result set when using the [Get Tasks](https://docs.camunda.org/manual/7.18/reference/rest/task/) method.  **Security Consideration:** There are several query parameters (such as assigneeExpression) for specifying an EL expression. These are disabled by default to prevent remote code execution. See the section on [security considerations](https://docs.camunda.org/manual/7.18/user-guide/process-engine/securing-custom-code/) for custom code in the user guide for details.
     *
     * @param taskId Restrict to task with the given id. (optional)
     * @param taskIdIn Restrict to tasks with any of the given ids. (optional)
     * @param processInstanceId Restrict to tasks that belong to process instances with the given id. (optional)
     * @param processInstanceIdIn Restrict to tasks that belong to process instances with the given ids. (optional)
     * @param processInstanceBusinessKey Restrict to tasks that belong to process instances with the given business key. (optional)
     * @param processInstanceBusinessKeyExpression Restrict to tasks that belong to process instances with the given business key which  is described by an expression. See the  [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. (optional)
     * @param processInstanceBusinessKeyIn Restrict to tasks that belong to process instances with one of the give business keys.  The keys need to be in a comma-separated list. (optional)
     * @param processInstanceBusinessKeyLike Restrict to tasks that have a process instance business key that has the parameter  value as a substring. (optional)
     * @param processInstanceBusinessKeyLikeExpression Restrict to tasks that have a process instance business key that has the parameter  value as a substring and is described by an expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions)  for more information on available functions. (optional)
     * @param processDefinitionId Restrict to tasks that belong to a process definition with the given id. (optional)
     * @param processDefinitionKey Restrict to tasks that belong to a process definition with the given key. (optional)
     * @param processDefinitionKeyIn Restrict to tasks that belong to a process definition with one of the given keys. The  keys need to be in a comma-separated list. (optional)
     * @param processDefinitionName Restrict to tasks that belong to a process definition with the given name. (optional)
     * @param processDefinitionNameLike Restrict to tasks that have a process definition name that has the parameter value as  a substring. (optional)
     * @param executionId Restrict to tasks that belong to an execution with the given id. (optional)
     * @param caseInstanceId Restrict to tasks that belong to case instances with the given id. (optional)
     * @param caseInstanceBusinessKey Restrict to tasks that belong to case instances with the given business key. (optional)
     * @param caseInstanceBusinessKeyLike Restrict to tasks that have a case instance business key that has the parameter value  as a substring. (optional)
     * @param caseDefinitionId Restrict to tasks that belong to a case definition with the given id. (optional)
     * @param caseDefinitionKey Restrict to tasks that belong to a case definition with the given key. (optional)
     * @param caseDefinitionName Restrict to tasks that belong to a case definition with the given name. (optional)
     * @param caseDefinitionNameLike Restrict to tasks that have a case definition name that has the parameter value as a  substring. (optional)
     * @param caseExecutionId Restrict to tasks that belong to a case execution with the given id. (optional)
     * @param activityInstanceIdIn Only include tasks which belong to one of the passed and comma-separated activity  instance ids. (optional)
     * @param tenantIdIn Only include tasks which belong to one of the passed and comma-separated  tenant ids. (optional)
     * @param withoutTenantId Only include tasks which belong to no tenant. Value may only be &#x60;true&#x60;,  as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param assignee Restrict to tasks that the given user is assigned to. (optional)
     * @param assigneeExpression Restrict to tasks that the user described by the given expression is assigned to.  See the  [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions)  for more information on available functions. (optional)
     * @param assigneeLike Restrict to tasks that have an assignee that has the parameter  value as a substring. (optional)
     * @param assigneeLikeExpression Restrict to tasks that have an assignee that has the parameter value described by the  given expression as a substring. See the  [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions)  for more information on available functions. (optional)
     * @param assigneeIn Only include tasks which are assigned to one of the passed and  comma-separated user ids. (optional)
     * @param assigneeNotIn Only include tasks which are not assigned to one of the passed and comma-separated user ids. (optional)
     * @param owner Restrict to tasks that the given user owns. (optional)
     * @param ownerExpression Restrict to tasks that the user described by the given expression owns. See the  [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions)  for more information on available functions. (optional)
     * @param candidateGroup Only include tasks that are offered to the given group. (optional)
     * @param candidateGroupExpression Only include tasks that are offered to the group described by the given expression.  See the  [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions)  for more information on available functions. (optional)
     * @param candidateUser Only include tasks that are offered to the given user or to one of his groups. (optional)
     * @param candidateUserExpression Only include tasks that are offered to the user described by the given expression.  See the  [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions)  for more information on available functions. (optional)
     * @param includeAssignedTasks Also include tasks that are assigned to users in candidate queries. Default is to only  include tasks that are not assigned to any user if you query by candidate user or group(s). (optional, default to false)
     * @param involvedUser Only include tasks that the given user is involved in. A user is involved in a task if  an identity link exists between task and user (e.g., the user is the assignee). (optional)
     * @param involvedUserExpression Only include tasks that the user described by the given expression is involved in. A user is involved in a task if an identity link exists between task and user (e.g., the user is the assignee). See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. (optional)
     * @param assigned If set to &#x60;true&#x60;, restricts the query to all tasks that are assigned. (optional, default to false)
     * @param unassigned If set to &#x60;true&#x60;, restricts the query to all tasks that are unassigned. (optional, default to false)
     * @param taskDefinitionKey Restrict to tasks that have the given key. (optional)
     * @param taskDefinitionKeyIn Restrict to tasks that have one of the given keys. The keys need to be in a comma-separated list. (optional)
     * @param taskDefinitionKeyLike Restrict to tasks that have a key that has the parameter value as a substring. (optional)
     * @param name Restrict to tasks that have the given name. (optional)
     * @param nameNotEqual Restrict to tasks that do not have the given name. (optional)
     * @param nameLike Restrict to tasks that have a name with the given parameter value as substring. (optional)
     * @param nameNotLike Restrict to tasks that do not have a name with the given parameter value as substring. (optional)
     * @param description Restrict to tasks that have the given description. (optional)
     * @param descriptionLike Restrict to tasks that have a description that has the parameter value as a substring. (optional)
     * @param priority Restrict to tasks that have the given priority. (optional)
     * @param maxPriority Restrict to tasks that have a lower or equal priority. (optional)
     * @param minPriority Restrict to tasks that have a higher or equal priority. (optional)
     * @param dueDate Restrict to tasks that are due on the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.546+0200&#x60;. (optional)
     * @param dueDateExpression Restrict to tasks that are due on the date described by the given expression. See the [User Guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param dueAfter Restrict to tasks that are due after the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.435+0200&#x60;. (optional)
     * @param dueAfterExpression Restrict to tasks that are due after the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param dueBefore Restrict to tasks that are due before the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.243+0200&#x60;. (optional)
     * @param dueBeforeExpression Restrict to tasks that are due before the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param withoutDueDate Only include tasks which have no due date. Value may only be &#x60;true&#x60;,  as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param followUpDate Restrict to tasks that have a followUp date on the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.342+0200&#x60;. (optional)
     * @param followUpDateExpression Restrict to tasks that have a followUp date on the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param followUpAfter Restrict to tasks that have a followUp date after the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.542+0200&#x60;. (optional)
     * @param followUpAfterExpression Restrict to tasks that have a followUp date after the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param followUpBefore Restrict to tasks that have a followUp date before the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.234+0200&#x60;. (optional)
     * @param followUpBeforeExpression Restrict to tasks that have a followUp date before the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param followUpBeforeOrNotExistent Restrict to tasks that have no followUp date or a followUp date before the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.432+0200&#x60;. The typical use case is to query all &#x60;active&#x60; tasks for a user for a given date. (optional)
     * @param followUpBeforeOrNotExistentExpression Restrict to tasks that have no followUp date or a followUp date before the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param createdOn Restrict to tasks that were created on the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.324+0200&#x60;. (optional)
     * @param createdOnExpression Restrict to tasks that were created on the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param createdAfter Restrict to tasks that were created after the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.342+0200&#x60;. (optional)
     * @param createdAfterExpression Restrict to tasks that were created after the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param createdBefore Restrict to tasks that were created before the given date. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.332+0200&#x60;. (optional)
     * @param createdBeforeExpression Restrict to tasks that were created before the date described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param updatedAfter Restrict to tasks that were updated after the given date. Every action that fires  a [task update event](https://docs.camunda.org/manual/7.18/user-guide/process-engine/delegation-code/#task-listener-event-lifecycle) is considered as updating the task. By [default](https://docs.camunda.org/manual/7.18/reference/rest/overview/date-format/), the date must have the format &#x60;yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ&#x60;, e.g., &#x60;2013-01-23T14:42:45.332+0200&#x60;. (optional)
     * @param updatedAfterExpression Restrict to tasks that were updated after the date described by the given expression. Every action that fires  a [task update event](https://docs.camunda.org/manual/7.18/user-guide/process-engine/delegation-code/#task-listener-event-lifecycle) is considered as updating the task. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to a &#x60;java.util.Date&#x60; or &#x60;org.joda.time.DateTime&#x60; object. (optional)
     * @param delegationState Restrict to tasks that are in the given delegation state. Valid values are &#x60;PENDING&#x60; and &#x60;RESOLVED&#x60;. (optional)
     * @param candidateGroups Restrict to tasks that are offered to any of the given candidate groups. Takes a comma-separated list of group names, so for example &#x60;developers,support,sales&#x60;. (optional)
     * @param candidateGroupsExpression Restrict to tasks that are offered to any of the candidate groups described by the given expression. See the [user guide](https://docs.camunda.org/manual/7.18/user-guide/process-engine/expression-language/#internal-context-functions) for more information on available functions. The expression must evaluate to &#x60;java.util.List&#x60; of Strings. (optional)
     * @param withCandidateGroups Only include tasks which have a candidate group. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param withoutCandidateGroups Only include tasks which have no candidate group. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param withCandidateUsers Only include tasks which have a candidate user. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param withoutCandidateUsers Only include tasks which have no candidate users. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param active Only include active tasks. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param suspended Only include suspended tasks. Value may only be &#x60;true&#x60;, as &#x60;false&#x60; is the default behavior. (optional, default to false)
     * @param taskVariables Only include tasks that have variables with certain values. Variable filtering expressions are comma-separated and are structured as follows:  A valid parameter value has the form &#x60;key_operator_value&#x60;. &#x60;key&#x60; is the variable name, &#x60;operator&#x60; is the comparison operator to be used and &#x60;value&#x60; the variable value.  **Note**: Values are always treated as String objects on server side.  Valid &#x60;operator&#x60; values are: &#x60;eq&#x60; - equal to; &#x60;neq&#x60; - not equal to; &#x60;gt&#x60; - greater than; &#x60;gteq&#x60; - greater than or equal to; &#x60;lt&#x60; - lower than; &#x60;lteq&#x60; - lower than or equal to; &#x60;like&#x60;. &#x60;key&#x60; and &#x60;value&#x60; may not contain underscore or comma characters. (optional)
     * @param processVariables Only include tasks that belong to process instances that have variables with certain  values. Variable filtering expressions are comma-separated and are structured as follows:  A valid parameter value has the form &#x60;key_operator_value&#x60;. &#x60;key&#x60; is the variable name, &#x60;operator&#x60; is the comparison operator to be used and &#x60;value&#x60; the variable value.  **Note**: Values are always treated as String objects on server side.  Valid &#x60;operator&#x60; values are: &#x60;eq&#x60; - equal to; &#x60;neq&#x60; - not equal to; &#x60;gt&#x60; - greater than; &#x60;gteq&#x60; - greater than or equal to; &#x60;lt&#x60; - lower than; &#x60;lteq&#x60; - lower than or equal to; &#x60;like&#x60;; &#x60;notLike&#x60;. &#x60;key&#x60; and &#x60;value&#x60; may not contain underscore or comma characters. (optional)
     * @param caseInstanceVariables Only include tasks that belong to case instances that have variables with certain values. Variable filtering expressions are comma-separated and are structured as follows:  A valid parameter value has the form &#x60;key_operator_value&#x60;. &#x60;key&#x60; is the variable name, &#x60;operator&#x60; is the comparison operator to be used and &#x60;value&#x60; the variable value.  **Note**: Values are always treated as String objects on server side.  Valid &#x60;operator&#x60; values are: &#x60;eq&#x60; - equal to; &#x60;neq&#x60; - not equal to; &#x60;gt&#x60; - greater than; &#x60;gteq&#x60; - greater than or equal to; &#x60;lt&#x60; - lower than; &#x60;lteq&#x60; - lower than or equal to; &#x60;like&#x60;. &#x60;key&#x60; and &#x60;value&#x60; may not contain underscore or comma characters. (optional)
     * @param variableNamesIgnoreCase Match all variable names in this query case-insensitively. If set &#x60;variableName&#x60; and &#x60;variablename&#x60; are treated as equal. (optional, default to false)
     * @param variableValuesIgnoreCase Match all variable values in this query case-insensitively. If set &#x60;variableValue&#x60; and &#x60;variablevalue&#x60; are treated as equal. (optional, default to false)
     * @param parentTaskId Restrict query to all tasks that are sub tasks of the given task. Takes a task id. (optional)
     * @return CountResultDto
     */
    @Get(uri="/task/count")
    @Consumes({"application/json"})
    Mono<CountResultDto> getTasksCount(
        @QueryValue(value="taskId") @Nullable String taskId, 
        @QueryValue(value="taskIdIn") @Nullable String taskIdIn, 
        @QueryValue(value="processInstanceId") @Nullable String processInstanceId, 
        @QueryValue(value="processInstanceIdIn") @Nullable String processInstanceIdIn, 
        @QueryValue(value="processInstanceBusinessKey") @Nullable String processInstanceBusinessKey, 
        @QueryValue(value="processInstanceBusinessKeyExpression") @Nullable String processInstanceBusinessKeyExpression, 
        @QueryValue(value="processInstanceBusinessKeyIn") @Nullable String processInstanceBusinessKeyIn, 
        @QueryValue(value="processInstanceBusinessKeyLike") @Nullable String processInstanceBusinessKeyLike, 
        @QueryValue(value="processInstanceBusinessKeyLikeExpression") @Nullable String processInstanceBusinessKeyLikeExpression, 
        @QueryValue(value="processDefinitionId") @Nullable String processDefinitionId, 
        @QueryValue(value="processDefinitionKey") @Nullable String processDefinitionKey, 
        @QueryValue(value="processDefinitionKeyIn") @Nullable String processDefinitionKeyIn, 
        @QueryValue(value="processDefinitionName") @Nullable String processDefinitionName, 
        @QueryValue(value="processDefinitionNameLike") @Nullable String processDefinitionNameLike, 
        @QueryValue(value="executionId") @Nullable String executionId, 
        @QueryValue(value="caseInstanceId") @Nullable String caseInstanceId, 
        @QueryValue(value="caseInstanceBusinessKey") @Nullable String caseInstanceBusinessKey, 
        @QueryValue(value="caseInstanceBusinessKeyLike") @Nullable String caseInstanceBusinessKeyLike, 
        @QueryValue(value="caseDefinitionId") @Nullable String caseDefinitionId, 
        @QueryValue(value="caseDefinitionKey") @Nullable String caseDefinitionKey, 
        @QueryValue(value="caseDefinitionName") @Nullable String caseDefinitionName, 
        @QueryValue(value="caseDefinitionNameLike") @Nullable String caseDefinitionNameLike, 
        @QueryValue(value="caseExecutionId") @Nullable String caseExecutionId, 
        @QueryValue(value="activityInstanceIdIn") @Nullable String activityInstanceIdIn, 
        @QueryValue(value="tenantIdIn") @Nullable String tenantIdIn, 
        @QueryValue(value="withoutTenantId", defaultValue="false") @Nullable Boolean withoutTenantId, 
        @QueryValue(value="assignee") @Nullable String assignee, 
        @QueryValue(value="assigneeExpression") @Nullable String assigneeExpression, 
        @QueryValue(value="assigneeLike") @Nullable String assigneeLike, 
        @QueryValue(value="assigneeLikeExpression") @Nullable String assigneeLikeExpression, 
        @QueryValue(value="assigneeIn") @Nullable String assigneeIn, 
        @QueryValue(value="assigneeNotIn") @Nullable String assigneeNotIn, 
        @QueryValue(value="owner") @Nullable String owner, 
        @QueryValue(value="ownerExpression") @Nullable String ownerExpression, 
        @QueryValue(value="candidateGroup") @Nullable String candidateGroup, 
        @QueryValue(value="candidateGroupExpression") @Nullable String candidateGroupExpression, 
        @QueryValue(value="candidateUser") @Nullable String candidateUser, 
        @QueryValue(value="candidateUserExpression") @Nullable String candidateUserExpression, 
        @QueryValue(value="includeAssignedTasks", defaultValue="false") @Nullable Boolean includeAssignedTasks, 
        @QueryValue(value="involvedUser") @Nullable String involvedUser, 
        @QueryValue(value="involvedUserExpression") @Nullable String involvedUserExpression, 
        @QueryValue(value="assigned", defaultValue="false") @Nullable Boolean assigned, 
        @QueryValue(value="unassigned", defaultValue="false") @Nullable Boolean unassigned, 
        @QueryValue(value="taskDefinitionKey") @Nullable String taskDefinitionKey, 
        @QueryValue(value="taskDefinitionKeyIn") @Nullable String taskDefinitionKeyIn, 
        @QueryValue(value="taskDefinitionKeyLike") @Nullable String taskDefinitionKeyLike, 
        @QueryValue(value="name") @Nullable String name, 
        @QueryValue(value="nameNotEqual") @Nullable String nameNotEqual, 
        @QueryValue(value="nameLike") @Nullable String nameLike, 
        @QueryValue(value="nameNotLike") @Nullable String nameNotLike, 
        @QueryValue(value="description") @Nullable String description, 
        @QueryValue(value="descriptionLike") @Nullable String descriptionLike, 
        @QueryValue(value="priority") @Nullable Integer priority, 
        @QueryValue(value="maxPriority") @Nullable Integer maxPriority, 
        @QueryValue(value="minPriority") @Nullable Integer minPriority, 
        @QueryValue(value="dueDate") @Nullable String dueDate, 
        @QueryValue(value="dueDateExpression") @Nullable String dueDateExpression, 
        @QueryValue(value="dueAfter") @Nullable String dueAfter, 
        @QueryValue(value="dueAfterExpression") @Nullable String dueAfterExpression, 
        @QueryValue(value="dueBefore") @Nullable String dueBefore, 
        @QueryValue(value="dueBeforeExpression") @Nullable String dueBeforeExpression, 
        @QueryValue(value="withoutDueDate", defaultValue="false") @Nullable Boolean withoutDueDate, 
        @QueryValue(value="followUpDate") @Nullable String followUpDate, 
        @QueryValue(value="followUpDateExpression") @Nullable String followUpDateExpression, 
        @QueryValue(value="followUpAfter") @Nullable String followUpAfter, 
        @QueryValue(value="followUpAfterExpression") @Nullable String followUpAfterExpression, 
        @QueryValue(value="followUpBefore") @Nullable String followUpBefore, 
        @QueryValue(value="followUpBeforeExpression") @Nullable String followUpBeforeExpression, 
        @QueryValue(value="followUpBeforeOrNotExistent") @Nullable String followUpBeforeOrNotExistent, 
        @QueryValue(value="followUpBeforeOrNotExistentExpression") @Nullable String followUpBeforeOrNotExistentExpression, 
        @QueryValue(value="createdOn") @Nullable String createdOn, 
        @QueryValue(value="createdOnExpression") @Nullable String createdOnExpression, 
        @QueryValue(value="createdAfter") @Nullable String createdAfter, 
        @QueryValue(value="createdAfterExpression") @Nullable String createdAfterExpression, 
        @QueryValue(value="createdBefore") @Nullable String createdBefore, 
        @QueryValue(value="createdBeforeExpression") @Nullable String createdBeforeExpression, 
        @QueryValue(value="updatedAfter") @Nullable String updatedAfter, 
        @QueryValue(value="updatedAfterExpression") @Nullable String updatedAfterExpression, 
        @QueryValue(value="delegationState") @Nullable String delegationState, 
        @QueryValue(value="candidateGroups") @Nullable String candidateGroups, 
        @QueryValue(value="candidateGroupsExpression") @Nullable String candidateGroupsExpression, 
        @QueryValue(value="withCandidateGroups", defaultValue="false") @Nullable Boolean withCandidateGroups, 
        @QueryValue(value="withoutCandidateGroups", defaultValue="false") @Nullable Boolean withoutCandidateGroups, 
        @QueryValue(value="withCandidateUsers", defaultValue="false") @Nullable Boolean withCandidateUsers, 
        @QueryValue(value="withoutCandidateUsers", defaultValue="false") @Nullable Boolean withoutCandidateUsers, 
        @QueryValue(value="active", defaultValue="false") @Nullable Boolean active, 
        @QueryValue(value="suspended", defaultValue="false") @Nullable Boolean suspended, 
        @QueryValue(value="taskVariables") @Nullable String taskVariables, 
        @QueryValue(value="processVariables") @Nullable String processVariables, 
        @QueryValue(value="caseInstanceVariables") @Nullable String caseInstanceVariables, 
        @QueryValue(value="variableNamesIgnoreCase", defaultValue="false") @Nullable Boolean variableNamesIgnoreCase, 
        @QueryValue(value="variableValuesIgnoreCase", defaultValue="false") @Nullable Boolean variableValuesIgnoreCase, 
        @QueryValue(value="parentTaskId") @Nullable String parentTaskId
    );

    /**
     * Handle BPMN Error
     * Reports a business error in the context of a running task by id. The error code must be specified to identify the BPMN error handler. See the documentation for [Reporting Bpmn Error](https://docs.camunda.org/manual/7.18/reference/bpmn20/tasks/user-task/#reporting-bpmn-error) in User Tasks.
     *
     * @param id The id of the task a BPMN error is reported for. (required)
     * @param taskBpmnErrorDto  (optional)
     */
    @Post(uri="/task/{id}/bpmnError")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> handleBpmnError(
        @PathVariable(name="id") @NotNull String id, 
        @Body @Nullable @Valid TaskBpmnErrorDto taskBpmnErrorDto
    );

    /**
     * Handle BPMN Escalation
     * Reports an escalation in the context of a running task by id. The escalation code must be specified to identify the escalation handler. See the documentation for [Reporting Bpmn Escalation](https://docs.camunda.org/manual/7.18/reference/bpmn20/tasks/user-task/#reporting-bpmn-escalation) in User Tasks.
     *
     * @param id The id of the task in which context a BPMN escalation is reported. (required)
     * @param taskEscalationDto  (optional)
     */
    @Post(uri="/task/{id}/bpmnEscalation")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> handleEscalation(
        @PathVariable(name="id") @NotNull String id, 
        @Body @Nullable @Valid TaskEscalationDto taskEscalationDto
    );

    /**
     * Get List (POST)
     * Queries for tasks that fulfill a given filter. This method is slightly more powerful than the [Get Tasks](https://docs.camunda.org/manual/7.18/reference/rest/task/get-query/) method because it allows filtering by multiple process or task variables of types &#x60;String&#x60;, &#x60;Number&#x60; or &#x60;Boolean&#x60;. The size of the result set can be retrieved by using the [Get Task Count (POST)](https://docs.camunda.org/manual/7.18/reference/rest/task/post-query-count/) method.  **Security Consideration**: There are several parameters (such as &#x60;assigneeExpression&#x60;) for specifying an EL expression. These are disabled by default to prevent remote code execution. See the section on [security considerations for custom code](https://docs.camunda.org/manual/7.18/user-guide/process-engine/securing-custom-code/) in the user guide for details.
     *
     * @param firstResult Pagination of results. Specifies the index of the first result to return. (optional)
     * @param maxResults Pagination of results. Specifies the maximum number of results to return. Will return less results if there are no more results left. (optional)
     * @param taskQueryDto  (optional)
     * @return List&lt;TaskDto&gt;
     */
    @Post(uri="/task")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<List<TaskDto>> queryTasks(
        @QueryValue(value="firstResult") @Nullable Integer firstResult, 
        @QueryValue(value="maxResults") @Nullable Integer maxResults, 
        @Body @Nullable @Valid TaskQueryDto taskQueryDto
    );

    /**
     * Get List Count (POST)
     * Retrieves the number of tasks that fulfill the given filter. Corresponds to the size of the result set of the [Get Tasks (POST)](https://docs.camunda.org/manual/7.18/reference/rest/task/post-query/) method and takes the same parameters.  **Security Consideration**: There are several parameters (such as &#x60;assigneeExpression&#x60;) for specifying an EL expression. These are disabled by default to prevent remote code execution. See the section on [security considerations for custom code](https://docs.camunda.org/manual/7.18/user-guide/process-engine/securing-custom-code/) in the user guide for details.
     *
     * @param taskQueryDto  (optional)
     * @return CountResultDto
     */
    @Post(uri="/task/count")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<CountResultDto> queryTasksCount(
        @Body @Nullable @Valid TaskQueryDto taskQueryDto
    );

    /**
     * Resolve
     * Resolves a task and updates execution variables.  Resolving a task marks that the assignee is done with the task delegated to them, and that it can be sent back to the owner. Can only be executed when the task has been delegated. The assignee will be set to the owner, who performed the delegation.
     *
     * @param id The id of the task to resolve. (required)
     * @param completeTaskDto  (optional)
     */
    @Post(uri="/task/{id}/resolve")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> resolve(
        @PathVariable(name="id") @NotNull String id, 
        @Body @Nullable @Valid CompleteTaskDto completeTaskDto
    );

    /**
     * Set Assignee
     * Changes the assignee of a task to a specific user.  **Note:** The difference with the [Claim Task](https://docs.camunda.org/manual/7.18/reference/rest/task/post-claim/) method is that this method does not check if the task already has a user assigned to it.
     *
     * @param id The id of the task to set the assignee for. (required)
     * @param userIdDto Provide the id of the user that will be the assignee of the task. (optional)
     */
    @Post(uri="/task/{id}/assignee")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> setAssignee(
        @PathVariable(name="id") @NotNull String id, 
        @Body @Nullable @Valid UserIdDto userIdDto
    );

    /**
     * Submit Form
     * Completes a task and updates process variables using a form submit. There are two difference between this method and the &#x60;complete&#x60; method:  * If the task is in state &#x60;PENDING&#x60; - i.e., has been delegated before, it is not completed but resolved. Otherwise it will be completed. * If the task has Form Field Metadata defined, the process engine will perform backend validation for any form fields which have validators defined. See the [Generated Task Forms](https://docs.camunda.org/manual/7.18/user-guide/task-forms/_index/#generated-task-forms) section of the [User Guide](https://docs.camunda.org/manual/7.18/user-guide/) for more information.
     *
     * @param id The id of the task to submit the form for. (required)
     * @param completeTaskDto  (optional)
     * @return Map&lt;String, VariableValueDto&gt;
     */
    @Post(uri="/task/{id}/submit-form")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Map<String, VariableValueDto>> submit(
        @PathVariable(name="id") @NotNull String id, 
        @Body @Nullable @Valid CompleteTaskDto completeTaskDto
    );

    /**
     * Unclaim
     * Resets a task&#39;s assignee. If successful, the task is not assigned to a user.
     *
     * @param id The id of the task to unclaim. (required)
     */
    @Post(uri="/task/{id}/unclaim")
    @Consumes({"application/json"})
    Mono<Void> unclaim(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Update
     * Updates a task.
     *
     * @param id The id of the task to be updated. (required)
     * @param taskDto  (optional)
     */
    @Put(uri="/task/{id}")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> updateTask(
        @PathVariable(name="id") @NotNull String id, 
        @Body @Nullable @Valid TaskDto taskDto
    );

}
