/*
 * Camunda Platform REST API
 * OpenApi Spec for Camunda Platform REST API.
 *
 * The version of the OpenAPI document: 7.18.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.camunda.rest.api;

import io.micronaut.core.annotation.Nullable;
import io.micronaut.http.annotation.*;
import io.micronaut.http.client.annotation.Client;
import org.camunda.rest.model.TelemetryConfigurationDto;
import org.camunda.rest.model.TelemetryDataDto;
import reactor.core.publisher.Mono;

import javax.annotation.Generated;
import javax.validation.Valid;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen")
@Client("${openapi-micronaut-client-base-path}")
public interface TelemetryApi {
    /**
     * Configure Telemetry
     * Configures whether Camunda receives data collection of the process engine setup and usage.
     *
     * @param telemetryConfigurationDto  (optional)
     */
    @Post(uri="/telemetry/configuration")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> configureTelemetry(
        @Body @Nullable @Valid TelemetryConfigurationDto telemetryConfigurationDto
    );

    /**
     * Fetch Telemetry Configuration
     * Fetches Telemetry Configuration.
     *
     * @return TelemetryConfigurationDto
     */
    @Get(uri="/telemetry/configuration")
    @Consumes({"application/json"})
    Mono<TelemetryConfigurationDto> getTelemetryConfiguration();

    /**
     * Fetch Telemetry Data
     * Fetches Telemetry Data.
     *
     * @return TelemetryDataDto
     */
    @Get(uri="/telemetry/data")
    @Consumes({"application/json"})
    Mono<TelemetryDataDto> getTelemetryData();

}
